<form action="{:U('Admin/Rbac/addRoleHandle',array('id'=>$role['id']))}" class="form-x one-form form-auto" id="form" method="post">
<div class="panel one-box  active">
        <div class="panel-head">
			<if condition='ACTION_NAME eq "addRole"'>	
            <strong>添加角色</strong>
			<else/>
			<strong>修改角色信息</strong>
			</if>
        </div>
		
        <div class="panel-body">	
			<div class="form-group">
                <div class="label">
                    <label>角色名称</label>
                </div>
                <div class="field">
                    <input type="text" class="input" name="name" size="60" value="{$role.name}">
                </div>
            </div>
			<div class="form-group">
                <div class="label">
                    <label>角色描述</label>
                </div>
                <div class="field">
                    <input type="text" class="input" name="remark" size="60" value="{$role.remark}">
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label>是否开启</label>
                </div>
                <div class="field">
                    <div class="button-group radio">
                        <if condition="$role.status == 1">
                            <label class="button active"><input name="status" value="1" checked="checked" type="radio">
                                <span class="icon icon-check"></span> 开启</label>
                            <label class="button"><input name="status" value="0" type="radio">
                                <span class="icon icon-times"></span> 关闭</label>
                            <else/>
                            <label class="button"><input name="status" value="1" checked="checked" type="radio">
                                <span class="icon icon-check"></span> 开启</label>
                            <label class="button active"><input name="status" value="0" type="radio">
                                <span class="icon icon-times"></span> 关闭</label>
                        </if>
                    </div>
                    <div class="input-note">是否开启角色</div>
                </div>
            </div>
		</div>
        <div class="panel-foot">
            <div class="form-button">
                <div id="tips"></div>
				<button class="button bg-main" id="ajaxForm" type='submit'>保存</button>
            </div>
        </div>
    </div>
</form>

