<form method="post">
    <div class="panel one-box">
        <div class="table-responsive">
            <table id="table" class="table table-hover ">
                <tbody>
                    <tr>
                        <th>编号</th>
                        <th>标题</th>
                        <th>图片</th>
                        <th>链接</th>
                        <th>排序</th>
                        <th>操作</th>
                    </tr>
                    <foreach name="position" item="v">
                        <tr>
                            <td>{$v.id}</td>
                            <td>{$v.title}</td>
							<td><img height="128" height="128" src="__ROOT__/Uploads/{$v.image}" class="img-border radius-big" /></td>
                            <td>{$v.url}</td>
                            <td>{$v.sort}</td>
                            <td>
								<a class="button bg-blue button-small icon-pencil" title="修改" alt="修改" href="edit/id/{$v['id']}"></a>
								<a class="button bg-red button-small icon-trash-o js-del" title="删除" alt="删除" href="delete/id/{$v['id']}"></a>
                            </td>
                        </tr>
                    </foreach>
                </tbody>
            </table>
        </div>
    </div>
</form>