
    <div class="panel one-box">
        <div class="table-responsive">
            <table id="table" class="table table-hover table-bordered table-condensed">
                <tbody>
                    <!--tr>
                        <th width="80">编号</th>
						
                        <th>日期</th>
						<th>添加时间</th>

                        <th width="100">操作</th>
                    </tr-->
					<php>
					$k=1;
					$intK=0;
					</php>
					
                    <for start="0" end="$intDays">
						<php>
							$strK=sprintf("%02d",$k);
							
							$isBg=M('shoufei_info')->where(" addTime = '".$k."' and intQiShu = '".$qishu."' ")->select();
							if(is_array($isBg) && !empty($isBg)){
								$btn_css="bg-green";
								//$btn_title="编辑";
							}else{
								$btn_css="bg-blue";
								//$btn_title="编辑";
							}
								
							if( $intK%5==0 )
							{
						</php>
							<tr>
								<td>日期：{$qishu}{$strK} &nbsp;&nbsp;&nbsp;&nbsp; 
								<a class="button {$btn_css} button-small icon-pencil" title="编辑" alt="编辑" href="{:U('/zijin/zijinHuizong',array('qishu'=>$qishu,'pici'=>$strK))}">&nbsp;&nbsp;编辑</a>
								<a class="button bg-red button-small icon-wrench js_ctr_del" title="重置" alt="重置" target="{:U('/zijin/zijin_reset_ajax',array('qishu'=>$qishu,'pici'=>$strK))}" href="javascript:;">&nbsp;&nbsp;重置</a>
								</td>
							
						<php>
							}
							else
							{
						</php>
								<td>日期：{$qishu}{$strK} &nbsp;&nbsp;&nbsp;&nbsp; 
								<a class="button {$btn_css} button-small icon-pencil" title="编辑" alt="编辑" href="{:U('/zijin/zijinHuizong',array('qishu'=>$qishu,'pici'=>$strK))}">&nbsp;&nbsp;编辑</a>
								<a class="button bg-red button-small icon-wrench js_ctr_del" title="重置" alt="重置" target="{:U('/zijin/zijin_reset_ajax',array('qishu'=>$qishu,'pici'=>$strK))}" href="javascript:;">&nbsp;&nbsp;重置</a>
								</td>
						<php>
							}
							$k++;
							$intK++;
						</php>
							
                    </for>
                </tbody>
            </table>
        </div>
        <div class="panel-foot table-foot clearfix">
            <div class="float-left">
                <div class="form-inline">
                    <div class="form-group">
                        <div class="field">
                        </div>
                    </div>
                </div>
                <br>
            </div>
            <div class="float-right pagination pagination-small">
                {$fpage}
            </div>
        </div>
    </div>




<script>

$(".js_ctr_del").click(function () {
	var subUrl = $(this).attr('target');
	var title = $(this).attr('title');

	layer.confirm('您确定 '+title+' 吗?', {
		icon: 4,
		btn: ['确定','取消'] //按钮
	}, function(){
		//loading层
		var index = layer.load(1, {
			shade: [0.8,'#fff'] //0.1透明度的白色背景
		});
		$.post(subUrl,$("form").serialize(),function(data){
			if(data.status){
				layer.msg(data.info, {icon: 1});
			}else{
				layer.msg(data.info, {icon: 2});
			}
			setTimeout("window.location.reload()",1000); // 让提示框停留一会
		});
	});
});

</script>