<form method="post" enctype="multipart/form-data" class="form-x one-form form-auto" id="form" action="{:U('/zijin/addzijinHuizong')}">
    <div class="panel one-box">
        <div class="table-responsive">
            <table id="table" class="table table-bordered table-condensed"><!-- table-hover -->
                <tbody>
                    <tr>
						<th rowspan="2" width="50">编号</th>
    					<th rowspan="2" width="280" style="border-right:#0099cc 1px solid;">分校</th>
						<php>
							$i=0;
						</php>
						<foreach name='listAccount' item='vo'>
							<php>
								if($vo["textremark"])
									$textremark="(".$vo["textremark"].")";
								else
									$textremark="";	
							</php>
                        	<th colspan="6" style="text-align:center; border-right:#0099cc 1px solid;">{$vo.strname} — {$vo.strbankname} — {$vo.strmoneyname} {$textremark}</th>
							<php>
								$i++;	
							</php>
						</foreach>
						
						<th width="150" rowspan="2" style="text-align:center;">总收费</th>
						<th width="150" rowspan="2" style="text-align:center;">校管家</th>
						<th width="150" rowspan="2" style="text-align:center;">差异</th>
						<th width="350" rowspan="2" style="text-align:center; border-right:#0099cc 1px solid;">差异原因</th>
						
						<th width="200" rowspan="2" style="text-align:center;">操作</th>

                    </tr>
             		<tr>
						<for start="0" end="$i">
							<th width="160" style="text-align:center;">收费</th>
							
							<th width="200" style="text-align:center;">现金收入</th>
							<th width="200" style="text-align:center;">学习卡</th>
							<th width="200" style="text-align:center;">融资款</th>
							<th width="200" style="text-align:center;">其它收入</th>
							
							<th width="170" style="text-align:center; border-right:#0099cc 1px solid;">手续费</th>
						</for>
					</tr>
					<php>
						$k=1;
						
						//dump($listHZBJ);
					</php>
					<foreach name='listSchool' item='v' key='vk'>
					<tr title="{$v.subname}">
						<td>{$k}</td>
						<td style="border-right:#0099cc 1px solid;">{$v.subname}</td>

							<foreach name='listAccount' item='vo'>
								<php>
									if(is_array($listHZBJ[$v['id']][$vo['id']]) && !empty($listHZBJ[$v['id']][$vo['id']]))
									{
										$douSF	= $listHZBJ[$v['id']][$vo['id']]['dousf'];
										
										$floHZBJ = $listHZBJ[$v['id']][$vo['id']]['dousfhj'];
										if(abs($floHZBJ)>0)
											$floHZBJ=$floHZBJ;
										else
											$floHZBJ="";
											
										
										
										$douXJSR = $listHZBJ[$v['id']][$vo['id']]['douxjsr'];
										if($douXJSR>0)
											$douXJSR=$douXJSR;
										else
											$douXJSR="";
											
										$douXXK = $listHZBJ[$v['id']][$vo['id']]['douxxk'];
										if($douXXK>0)
											$douXXK=$douXXK;
										else
											$douXXK="";
											
										$douRZK = $listHZBJ[$v['id']][$vo['id']]['dourzk'];
										if($douRZK>0)
											$douRZK=$douRZK;
										else
											$douRZK="";
										
										$douQTSR = $listHZBJ[$v['id']][$vo['id']]['douqtsr'];
										if($douQTSR>0)
											$douQTSR=$douQTSR;
										else
											$douQTSR="";
											
										$floSXF = $listHZBJ[$v['id']][$vo['id']]['dousxf'];
										if(abs($floSXF)>0)
											$floSXF=$floSXF;
										else
											$floSXF="";
											
										$strInputID='<input type="hidden" name="intID[]" value="'.$listHZBJ[$v['id']][$vo['id']]['id'].'" />';
										$intID_js=$listHZBJ[$v['id']][$vo['id']]['id'];
										
										
										$douXJSR_Rem=$listHZBJ[$v['id']][$vo['id']]['douxjsr_rem'];
										if($douXJSR_Rem!="")
											$douXJSR_Rem_css="border-green";
										else
											$douXJSR_Rem_css="border-red";
											
										$douXXK_Rem=$listHZBJ[$v['id']][$vo['id']]['douxxk_rem'];
										if($douXXK_Rem!="")
											$douXXK_Rem_css="border-green";
										else
											$douXXK_Rem_css="border-red";
										
										$douRZK_Rem=$listHZBJ[$v['id']][$vo['id']]['dourzk_rem'];
										if($douRZK_Rem!="")
											$douRZK_Rem_css="border-green";
										else
											$douRZK_Rem_css="border-red";
										
										$douQTSR_Rem=$listHZBJ[$v['id']][$vo['id']]['douqtsr_rem'];
										if($douQTSR_Rem!="")
											$douQTSR_Rem_css="border-green";
										else
											$douQTSR_Rem_css="border-red";
										
									}
									else
									{
										$floHZBJ = number_format($listHZBJ[$v['id']][$vo['id']]-abs($listSXF[$v['id']][$vo['id']]),2,".","");
										if(abs($floHZBJ)>0)
											$floHZBJ=$floHZBJ;
										else
											$floHZBJ="";
											
										$floSXF = $listSXF[$v['id']][$vo['id']];
										
										$douSF = $listHZBJ[$v['id']][$vo['id']];
									}
									
								</php>
								<!-- 收费 -->
								<td align="right" id="htmlSF_{$v.id}_{$vo.id}" title="最终收费：读取总收费({$douSF}) - 学习卡 {//$douXXK}- 融资款 {//$douRZK}- 其它收入 {//$douQTSR}&#10;&nbsp;&nbsp;&nbsp;&nbsp;学&nbsp;&nbsp;校：{$v.subname}&#10;对帐平台：{$vo.strname}___{$vo.strbankname}___{$vo.strmoneyname}">{$floHZBJ}</td>
								<input type="hidden" name="douSF[]" id="douSF_Z_{$v.id}_{$vo.id}" value="{$douSF}" /><!-- 总的收入 不改动 -->
								<input type="hidden" name="douSFHJ[]" id="douSF_D_{$v.id}_{$vo.id}" value="{$floHZBJ}" /><!-- 最后计算结果 -->
								
								<!-- 现金收入 -->
								<td title="学&nbsp;&nbsp;校：{$v.subname}&#10;对帐平台：{$vo.strname}___{$vo.strbankname}___{$vo.strmoneyname}">
									<div style="float:left;"><input class="input" style="width:100px;" name="douXJSR[]" value="{$douXJSR}" id="douXJSR_{$v.id}_{$vo.id}" onkeyup="numMoney_Y(douXJSR_{$v.id}_{$vo.id},'{$v.id}','{$vo.id}','{$intID_js}')" /></div>
									<div style="float:left; margin-left:15px;">
										<button type="button" onclick="jsGetData('douXJSR_Rem','{$intID_js}')" id="douXJSR_Rem_{$intID_js}" class="button button-small {$douXJSR_Rem_css}" >批注</button>
									</div>
								</td>
								
								<!-- 学习卡 -->
								<td title="学&nbsp;&nbsp;校：{$v.subname}&#10;对帐平台：{$vo.strname}___{$vo.strbankname}___{$vo.strmoneyname}">
									<div style="float:left;"><input class="input" style="width:100px;" name="douXXK[]" value="{$douXXK}" id="douXXK_{$v.id}_{$vo.id}" onkeyup="numMoney_Y(douXXK_{$v.id}_{$vo.id},'{$v.id}','{$vo.id}','{$intID_js}')" /></div>
									<div style="float:left; margin-left:15px;">
										<button type="button" onclick="jsGetData('douXXK_Rem','{$intID_js}')" id="douXXK_Rem_{$intID_js}" class="button button-small {$douXXK_Rem_css}" >批注</button>
									</div>
								</td>
								
								
								<!-- 融资款 -->
								<td title="学&nbsp;&nbsp;校：{$v.subname}&#10;对帐平台：{$vo.strname}___{$vo.strbankname}___{$vo.strmoneyname}">
									<div style="float:left;"><input class="input" style="width:100px;" name="douRZK[]" value="{$douRZK}" id="douRZK_{$v.id}_{$vo.id}" onkeyup="numMoney_Y(douRZK_{$v.id}_{$vo.id},'{$v.id}','{$vo.id}','{$intID_js}')" /></div>
									<div style="float:left; margin-left:15px;">
										<button type="button" onclick="jsGetData('douRZK_Rem','{$intID_js}')" id="douRZK_Rem_{$intID_js}" class="button button-small {$douRZK_Rem_css}" >批注</button>
									</div>
								</td>
								
								<!-- 其它收入 -->
								<td title="学&nbsp;&nbsp;校：{$v.subname}&#10;对帐平台：{$vo.strname}___{$vo.strbankname}___{$vo.strmoneyname}">
									<div style="float:left;"><input class="input" style="width:100px;" name="douQTSR[]" value="{$douQTSR}" id="douQTSR_{$v.id}_{$vo.id}" onkeyup="numMoney_Y(douQTSR_{$v.id}_{$vo.id},'{$v.id}','{$vo.id}','{$intID_js}')" /></div>
									<div style="float:left; margin-left:15px;">
										<button type="button" onclick="jsGetData('douQTSR_Rem','{$intID_js}')" id="douQTSR_Rem_{$intID_js}" class="button button-small {$douQTSR_Rem_css}" >批注</button>
									</div>
								</td>
								
								<!-- 手续费 -->
								<td title="学&nbsp;&nbsp;校：{$v.subname}&#10;对帐平台：{$vo.strname}___{$vo.strbankname}___{$vo.strmoneyname}" align="right" style="border-right:#0099cc 1px solid;">{$floSXF}</td>
								<input type="hidden" name="douSXF[]" id="douSXF_{$v.id}_{$vo.id}" value="{$floSXF}" /><!-- 手续费 -->
								
								<input type="hidden" name="intCreateDate[]" value="<php> echo date('Y-m-d h:i:s')</php>" />
								<input type="hidden" name="sid[]" value="{$v.id}" />
								<input type="hidden" name="aid[]" value="{$vo.id}" />
								
								{$strInputID}
							</foreach>
							<php>
								$douSF_total_s = $listHZBJ[$v['id']]["douSFHJ_total"]+floatval($listHZBJ[$v['id']]["douXJSR_total"]);
								
								$douXGJ = $listHZBJ[$v['id']]["chayi"]['douxgj'];
								if(abs($douXGJ)>0)
									$douXGJ=$douXGJ;
								else
									$douXGJ="";
									
								$douCY = $listHZBJ[$v['id']]["chayi"]['doucy'];
								if(abs($douCY)>0){
									$douCY=$douCY;
									$tdBgCY=" class = 'bg-red' ";
								}else{
									$douCY="";
									$tdBgCY=" class = '' ";
								}	
								$textRemarks = $listHZBJ[$v['id']]["chayi"]['textremarks'];
								
								$intID_CY = $listHZBJ[$v['id']]["chayi"]['id'];
									
							</php>
							<td align="right" id="douSF_total_s_{$v.id}" class="bg-main bgTrans">{$douSF_total_s}</td>
							
							<td><input class="input" style="width:120px;" name="douXGJ[]" id="douXGJ_{$intID_CY}" value="{$douXGJ}" onkeyup="chayiRem_XGJ(douXGJ_{$intID_CY},'{$intID_CY}')" /></td>
							<td {$tdBgCY} id="douCY_{$intID_CY}">{$douCY}</td>
							<td style="border-right:#0099cc 1px solid;"><input class="input" style="width:320px;" name="textRemarks[]" id="textRemarks_{$intID_CY}" value="{$textRemarks}" onblur="chayiRem('textRemarks_{$intID_CY}','{$intID_CY}')" /></td>
							
							<td>
								<a class="button button-small border-main" target="_blank" href="{:U('/Zijin/zijinSchool_lkl',array('qishu'=>$qishu,'pici'=>$pici,'sid'=>$v['id']))}">查看拉卡拉</a>
								<a class="button button-small border-main" target="_blank" href="{:U('/Zijin/zijinSchool_sqb',array('qishu'=>$qishu,'pici'=>$pici,'sid'=>$v['id']))}">查看收钱吧</a>
							</td>
							
					</tr>
						<php>
							$k++;
						</php>
      				</foreach>
					<input type="hidden" name="addTime" value="{$pici}" />
					<input type="hidden" name="intQiShu" value="{$qishu}" />
					<tr class="bg-main bgTrans">
						<td></td>
    					<th style="border-right:#cccccc 1px solid; background:#0099cc" class="bgTrans">合计：</th>
						<foreach name='shoufei_total' item='vo' key='k'>
							<td>收费：<span id="douSFHJ_total_{$k}">{$vo.dousfhj_total}</span></td>
							
							<td>现金收入：<span id="douXJSR_total_{$k}">{$vo.douxjsr_total}</span></td>
							<td>学习卡：<span id="douXXK_total_{$k}">{$vo.douxxk_total}</span></td>
							<td>融资款：<span id="douRZK_total_{$k}">{$vo.dourzk_total}</span></td>
							<td>其它收入：<span id="douQTSR_total_{$k}">{$vo.douqtsr_total}</span></td>
							
							<td style="border-right:#cccccc 1px solid;">手续费：<span id="douSXF_total_{$k}">{$vo.dousxf_total}</span></td>
						</foreach>
						<php>
							$douSFHJ_total = $listCY_HZ["douSFHJ_total"] + $listCY_HZ["douXJSR_total"];
							$douXGJ_total = $listCY_HZ["douXGJ_total"];
							$douCY_total = $listCY_HZ["douCY_total"];
						</php>
						
						<td align="right" id="douSFHJ_total">{$douSFHJ_total}</td>
						<td align="right" id="douXGJ_total">{$douXGJ_total}</td>
						<td align="right" id="douCY_total">{$douCY_total}</td>
						<td></td>
						<td></td>
					</tr>
					
                </tbody>
            </table>
        </div>
        <div class="panel-foot table-foot clearfix">
            <div class="float-left">
                <div class="form-inline">
                    <div class="form-group"><button class="button bg-sub icon-save"> &nbsp;保存</button></div>
                    </div>
                </div>
                <br>
            </div>

        </div>
    </div>
</form>


<!--div id="mydialog">
	<div class="dialog">
		<div class="dialog-head">
			<span class="close rotate-hover"></span><strong>批注信息</strong></div>
		<div class="dialog-body">
		<textarea rows="5" class="input" name="textPiZhu" placeholder="批注信息" id="textPiZhu"></textarea>
		<input type="hidden" id="fieldName" value="" />
		<input type="hidden" id="intID" value="" />
		</div>
		<div class="dialog-foot">
			<button class="button dialog-close">取消</button>
			<button class="button bg-green" onclick="postData()">确认</button>
		</div>
	</div>visibility:hidden;
</div-->

<div id="myModal" style="width:600px; display:none; position:fixed; left:50%; top:50%; margin-left:-300px; margin-top:-100px; z-index:100000;">
	<div class="" style="border:#CCCCCC 1px solid; border-radius:5px; background:#FFFFFF;">
	
		<div class="" style="border-bottom:#CCCCCC 1px solid; line-height:35px; font-size:16px; padding:0px 0px 0px 15px;"><span class="rotate-hover"></span><strong>批注信息</strong></div>
		
		<div class="dialog-body" style=" padding:10px 15px 10px 15px; border-bottom:#CCCCCC 1px solid;">
			<textarea rows="5" class="input" name="textPiZhu" placeholder="批注信息" id="textPiZhu"></textarea>
			<input type="hidden" id="fieldName" value="" />
			<input type="hidden" id="intID" value="" />
			<input type="hidden" id="btnRemID" value="" />
		</div>
		
		<div class="dialog-foot" style="text-align:right; padding:10px 50px 10px 0px;">
			<button class="button dialog-close" style="margin-right:10px;" onclick="$('#myModal').hide();$('#mask_my').hide();">取消</button>
			<button class="button bg-green" onclick="postData()">确认</button>
		</div>
		
	</div>
</div>


<div id="mask_my"></div>

<style>
body {overflow-x: scroll;}
#mask_my {width:100%; height:100%; background-color:#000;position:fixed;top:0; left:0;z-index:2;opacity:0.4;filter: alpha(opacity=40); display:none;}
.bgTrans{opacity:0.6;filter: alpha(opacity=60);}
</style>

<script>
$(function(){
	var W = <php>echo $i*1130</php>+1330;
	$("body").width(W);
});


function jsGetData(fieldName,intID){
	$("#fieldName").val(fieldName);
	$("#intID").val(intID);
	$("#btnRemID").val(fieldName+"_"+intID);
	
	$("#mask_my").show();
	 $("#myModal").show(300);
	// document.getElementById("myModal").style.visibility="visible";
	//alert($("#intID").val());
	
	$.ajax({
		type: "POST",
		url: "{:url('Zijin/zijin_getrem_ajax','',false)}",
		data: {
				intID:intID,
				fieldName:fieldName
			  },
		dataType:"json",
		success: function(result){
			if(result.status == 'OK'){
				$('#textPiZhu').val(result.msg);
			} else {
				//alert(result.msg);
				layer.msg(result.msg, {icon: 2});
				$('#myModal').hide();
				$('#mask_my').hide();
			}	              
		} 
	});
}

function postData()
{
	var intID 	= $("#intID").val();
	var	fieldName	= $("#fieldName").val();
	var	textPiZhu	= $("#textPiZhu").val();
	var	btnID	= $("#btnRemID").val();

	$.ajax({
		type: "POST",
		url: "{:url('Zijin/zijin_rem_ajax','',false)}",
		data: {
				intID:intID,
				textPiZhu:textPiZhu,
				fieldName:fieldName
			  },
		dataType:"json",
		success: function(result){
			if(result.status == 'OK'){
				//alert(result.msg);
				layer.msg(result.msg, {icon: 1});
				$("#"+btnID+"").attr("class","button button-small border-green");
				$('#myModal').hide();
				$('#mask_my').hide();
			} else if(result.status == 'Yes') {
				//layer.msg(result.msg, {icon: 2});
				$("#"+btnID+"").attr("class","button button-small border-red");
				$('#myModal').hide();
				$('#mask_my').hide();
			}else{
				layer.msg(result.msg, {icon: 2});
				$('#myModal').hide();
				$('#mask_my').hide();
			}	                           
		} 
	});
	

}




function chayiRem(textRemarks,intID){
	var textRemarks_js = $("#"+textRemarks+"").val();
	//alert(textRemarks_js);
	
	$.ajax({
		type: "POST",
		url: "{:url('Zijin/zijin_chayi_rem_ajax','',false)}",
		data: {
				textRemarks_js:textRemarks_js,
				intID_js:intID
			  },
		dataType:"json",
		success: function(result){
			if(result.status == 'OK'){
				//alert(result.msg);
				//$("#douCY_"+intID+"").html(result.msg);
				
			} else {
				//alert(result.msg);
				$("#"+textRemarks+"").val("");
				layer.msg(result.msg, {icon: 2});
			}	              
		} 
	});

	//event.preventDefault(); 
}

function chayiRem_XGJ(obj,intID){
	obj.value = obj.value.replace(/[^\d.]/g,"");
	obj.value = obj.value.replace(/^\./g,"");
	obj.value = obj.value.replace(/\.{2,}/g,".");
	obj.value = obj.value.replace(".","$#$").replace(/\./g,"").replace("$#$",".");
	obj.value = obj.value.replace(/^(\-)*(\d+)\.(\d\d).*$/,'$1$2.$3');

	$.ajax({
		type: "POST",
		url: "{:url('Zijin/zijin_chayi_ajax','',false)}",
		data: {
				douXGJ_js:obj.value,
				intID_js:intID
			  },
		dataType:"json",
		success: function(result){
			if(result.status == 'OK'){
				//alert(result.msg);
				$("#douCY_"+intID+"").html(result.msg);
				
				$("#douXGJ_total").html(result.douXGJ_total);
				$("#douCY_total").html(result.douCY_total);
				
			} else {
				obj.value="";
				layer.msg(result.msg, {icon: 2});
			}	              
		} 
	});

	//event.preventDefault(); 
}


function numMoney_Y(obj,intSchoolID,intAccountID,intID){

	obj.value = obj.value.replace(/[^\d.]/g,"");
	obj.value = obj.value.replace(/^\./g,"");
	obj.value = obj.value.replace(/\.{2,}/g,".");
	obj.value = obj.value.replace(".","$#$").replace(/\./g,"").replace("$#$",".");
	obj.value = obj.value.replace(/^(\-)*(\d+)\.(\d\d).*$/,'$1$2.$3');
	
	//计算后结果 = 收费-学习卡-融资款-其它收入
	var douSF_Z_js = $("#douSF_Z_"+intSchoolID+"_"+intAccountID).val();//倒进去统计结果
	var douSF_D_js = $("#douSF_D_"+intSchoolID+"_"+intAccountID).val();//计算后结果
	
	var douXJSR_js = $("#douXJSR_"+intSchoolID+"_"+intAccountID).val();//现金收入
	var douXXK_js = $("#douXXK_"+intSchoolID+"_"+intAccountID).val();//学习卡
	var douRZK_js = $("#douRZK_"+intSchoolID+"_"+intAccountID).val();//融资款
	var douQTSR_js = $("#douQTSR_"+intSchoolID+"_"+intAccountID).val();//其它收入
	
	var douSXF_js = $("#douSXF_"+intSchoolID+"_"+intAccountID).val();//手续费
	//$("#cs_2018").html("倒进去统计结果："+douSF_Z_js+"==计算后结果"+douSF_D_js+"==现金收入"+douXJSR_js+"==学习卡"+douXXK_js+"==融资款"+douRZK_js+"==其它收入"+douQTSR_js+"==手续费"+douSXF_js);

	var strFieldName_js = $(obj).attr("name");
	var strFieldValue_js = $(obj).val();
	//$("#cs_2018").html(strFieldName_js);
	
	$.ajax({
		type: "POST",
		url: "{:url('Zijin/zijin_num_ajax','',false)}",
		data: {
				douSF_Z_js:douSF_Z_js,
				douSF_D_js:douSF_D_js,
				
				douXJSR_js:douXJSR_js,
				douXXK_js:douXXK_js,
				douRZK_js:douRZK_js,
				douQTSR_js:douQTSR_js,
				
				douSXF_js:douSXF_js,
				
				strFieldName_js:strFieldName_js,
				strFieldValue_js:strFieldValue_js,
				intID_js:intID,
			  },
		dataType:"json",
		success: function(result){
			//alert(result.aid)
			if(result.status == 'OK'){
				//计算结果
				$("#htmlSF_"+intSchoolID+"_"+intAccountID).html(result.msg);
				$("#douSF_D_"+intSchoolID+"_"+intAccountID).val(result.msg);
				//纵向当前对帐平台六项计算结果
				$("#douSFHJ_total_"+result.aid+"").html(result.arrTotal.dousfhj_total);
				$("#douXJSR_total_"+result.aid+"").html(result.arrTotal.douxjsr_total);
				$("#douXXK_total_"+result.aid+"").html(result.arrTotal.douxxk_total);
				$("#douRZK_total_"+result.aid+"").html(result.arrTotal.dourzk_total);
				$("#douQTSR_total_"+result.aid+"").html(result.arrTotal.douqtsr_total);
				$("#douSXF_total_"+result.aid+"").html(result.arrTotal.dousxf_total);
				//差异
				//var arr_js=htmlSF.split("_");
				$("#douSF_total_s_"+intSchoolID+"").html(result.douTotal_s);
				$("#douCY_"+result.cyid+"").html(result.douCY);
				$("#douXGJ_total").html(result.douXGJ_total_s);
				$("#douCY_total").html(result.douCY_total_s);
				$("#douSFHJ_total").html(result.dou_Total_s);
				
			} else {
				obj.value="";
				//alert(result.msg);
				layer.msg(result.msg, {icon: 2});
			}
			              
		} 
	});

	event.preventDefault(); 
	//$("input[name='"+intputName+"']").val()
}


</script>
