
    <div class="panel one-box">
        <div class="table-responsive">
            <table id="table" class="table table-bordered table-condensed"><!-- table-hover -->
                <tbody>
                    <tr>
					
						<th>编号</th>
						
						<th>日期</th>
    					<th>时间</th>
						<th>商户订单号</th>
						
						<th>订单状态</th>
						<th>收款通道</th>
						<th>交易模式</th>
						
						<th>订单金额</th>
						<th>实收金额</th>
						<th>是否试用</th>
						
						<th>扣率</th>
						<th>手续费</th>
						<th>商户名称</th>
						
						<th>商户号</th>
						<th>门店名称</th>
						<th>门店号</th>
						
						<th>终端名称</th>
						<th>终端号</th>
						<th>终端类型</th>
						
						<th>设备号</th>
						<th>付款账户</th>
						<th>收款通道订单号</th>
						
						<th>操作员</th>
						<th>收银员</th>
						<th>商户内部订单号</th>
						
                    </tr>
					<foreach name='list' item='v' key="k">
             		<tr>
						
						<td>{$k}</th>
						
						<td>{$v.riqi}</td>
						<td>{$v.shijian}</td>
						<td>{$v.intorderid}</td>
						
						<td>{$v.ispay}</td>
						<td>{$v.intpaytype}</td>
						<td>{$v.strpaymode}</td>
						
						<td>{$v.douddje}</td>
						<td>{$v.doussje}</td>
						<td>{$v.isused}</td>
						
						<td>{$v.flokl}</td>
						<td>{$v.dousxf}</td>
						<td>{$v.strmername}</td>
						
						<td>{$v.strmerid}</td>
						<td>{$v.strschoolname}</td>
						<td>{$v.strschoolcode}</td>
						
						<td>{$v.strzhongduanname}</td>
						<td>{$v.strzhongduanid}</td>
						<td>{$v.strzhongduantype}</td>
						
						<td>{$v.strzhongduancode}</td>
						<td>{$v.strpayuser}</td>
						<td>{$v.strorderid}</td>
						
						<td>{$v.strorderoptid}</td>
						<td>{$v.strodermonid}</td>
						<td>{$v.strodermerid}</td>
						
					</tr>
					</foreach>
                </tbody>
            </table>
        </div>
        <div class="panel-foot table-foot clearfix">
            <div class="float-left">
                <div class="form-inline">
                   
                </div>
                <br>
            </div>

        </div>
    </div>
<style>
body {overflow-x: scroll;}
</style>
<script>
$(function(){
	var W = 3000;
	$("body").width(W);
});
</script>

