<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>树童信息化管理系统</title>
<LINK href="favicon.ico" type="image/x-icon" rel=icon>
<LINK href="favicon.ico" type="image/x-icon" rel="shortcut icon">
    <!-- import css -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/pingtu.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/admin.css" />

    <!-- import js -->
    <script type="text/javascript" src="__PUBLIC__/js/jquery.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/pingtu.js"></script>
    <!-- 因IE8不支持CSS的媒体查询，因此需引入respond.js才能使其实现媒体查询功能。  -->
    <script type="text/javascript" src="__PUBLIC__/js/respond.js"></script>

</head>
<body>

    <div class="one-head clearfix">
        <div class="one-logo">
            <a href="#" target="_blank">
                <img src="__PUBLIC__/images/logo.png" alt="树童教育后台管理系统" />
            </a>
            <button class="button icon-navicon admin-nav-btn" data-target=".admin-nav"></button>
            <button class="button icon-navicon icon-ellipsis-v admin-menu-btn" data-target=".admin-menu"></button>
        </div>
        <div class="one-nav">
            <ul id="nav" class="nav  nav-navicon nav-inline admin-nav">
            </ul>
        </div>
        <div class="one-nav">
            <ul class="nav nav-navicon nav-inline admin-nav" id="nav">
            </ul>
            <ul class="nav nav-navicon nav-menu nav-inline admin-nav nav-tool">
               <!--<li> <a href="http://www.ddmall.com.cn/" target="_blank" class="icon-home"></a></li>-->
                <li> <a class=" dialogs" href="javascript:void(0)" data-toggle="click" data-target="#mydialog" data-mask="1" data-width="30%">[切换分校]</a></li>
                <li> <a href="{:U('/AdminUser/edit')}" target="one-iframe" class="icon-user"></a></li>
                <li> <a href="{:U('/Login/logout')}" class="one-logout bg-red icon-power-off"></a></li>
            </ul>
        </div>
    </div>
    <div class="one-sidebar">
        <ul class="nav  nav-navicon admin-menu">
            <div id="nav-head" class="nav-head"> {$infoModule.info.name}</div>
            <div id="menu">
            </div>
        </ul>
    </div>

    <div class="one-admin">
            <iframe id="one-iframe" name="one-iframe" class="one-iframe" src="" frameborder="0"></iframe>
    </div>

    <div id="mydialog">
        <div class="dialog">
            <div class="dialog-head">
                <span class="close rotate-hover"></span><strong>切换分校</strong>
            </div>
            <form method="post" action="{:U('index/qihuan')}">
                <div class="dialog-body">
                    <div class="form-group" style="height: 500px;overflow-y: scroll;">
                        <div class="label">
                            <strong>勾选要切换的校区</strong>
                        </div>
                        <div class="field"><label ><input class="all" type="checkbox" onclick="allcheck(this)">全选</label></div>
                        <volist name = "school" id = "vo">
                            <div class="field">
                                <label>
                                    <input name="sid[]" value="{$vo.id}" type="checkbox" <php>if(in_array($vo['id'],$school_id)){echo 'checked="true"';}</php> > {$vo.name}
                                </label>
                            </div>
                        </volist>
                    </div>
                </div>
                <div class="dialog-foot">
                    <button class="button dialog-close">
                        取消</button>
                    <button class="button bg-green">
                        确认</button>
                </div>
            </form>
        </div>
    </div>

    <script type="text/javascript">
        //全选反选
        function allcheck(obj){
            if ($(obj).is(':checked')){
                $('.field input[type="checkbox"]').prop('checked',true);
            }else{
                $('.field input[type="checkbox"]').prop('checked',false);
            }
        }
        
        //生成主菜单
        var data = {$menuList};
        var topNav = '';
        for(var i in data){
            if(data[i]['menu'] != ''){
                topNav += '<li><a href="javascript:;" data="'+i+'" url="" class="icon-'+data[i].icon+'"> '+data[i].name+'</a></li>';
            }
        }
        $('#nav').html(topNav);

        //绑定导航连接
        $('#nav').on('click','a',function(){
            $('#nav-head').text($(this).text());
            var n = $(this).attr('data');
            var menu = data[n]['menu'];
            var menuHtml =  '';
            if(menu != ''){
                for(var i in menu){
                    menuHtml += '<li><a href="javascript:;" url="'+menu[i].url+'" class="icon-'+menu[i].icon+'"> '+menu[i].name+'</a></li>';
                }
            }
            $('#menu').html(menuHtml);
            //设置样式
            $('#nav li').removeClass('active');
            $(this).parent('li').addClass('active');
            //打开菜单
            $('#menu a:first').click();
        });
        //绑定菜单连接
        $('#menu').on('click','a',function(){
            var url = $(this).attr('url');
            $('.one-iframe').attr('src',url);
            //设置样式
            $('#menu li').removeClass('active');
            $(this).parent('li').addClass('active');
        });
        $('#nav a:first').click();

    </script>

</body>
</html>
