<form method="post" enctype="multipart/form-data" class="form-x one-form form-auto" id="form" action="{:U('/Renshi/addCompany',array('id'=>$list['id']))}">
	 <div class="panel one-box  active">
        <div class="panel-head">
            <strong>添加公司</strong>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <div class="label">
                    <label>公司</label>
                </div>
                <div class="field">
                    <input type="text" class="input" name="name" size="60" value="{$list.name}">
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label>公司类型</label>
                </div>
                <div class="field">
                    <select class="select" name="type" style="border-color:rgb(255, 102, 0);height:32px;border-radius: 4px;">
                        <option value="">请选择公司类型</option>
                        <if condition="$list.type eq 1">
                            <option value="1" selected>合同签订公司</option>
                        <else />
                            <option value="1">合同签订公司</option>
                        </if>
                        <if condition="$list.type eq 2">
                            <option value="2" selected>社保购买公司</option>
                        <else />
                            <option value="2">社保购买公司</option>
                        </if>
                        <if condition="$list.type eq 3">
                            <option value="3" selected>公积金购买公司</option>
                        <else />
                            <option value="3">公积金购买公司</option>
                        </if>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label>是否启用</label>
                </div>
                <div class="field">
                    <div class="button-group radio">
                        <if condition="$list.isuse == 1">
                            <label class="button active">
                                <input name="isuse" value="1" checked="checked" type="radio">
                                <span class="icon icon-check"></span> 启用
                            </label>
                            <label class="button">
                                <input name="isuse" value="0" type="radio">
                                <span class="icon icon-times"></span> 不启用
                            </label>
                            <else/>
                            <label class="button ">
                                <input name="isuse" value="1"type="radio">
                                <span class="icon icon-check"></span> 启用
                            </label>
                            <label class="button active">
                                <input name="isuse" value="0" checked="checked"  type="radio">
                                <span class="icon icon-times"></span> 不启用
                            </label>
                        </if>
                    </div>
                    <div class="input-note">是否启用当前公司</div>
                </div>
            </div>

        </div>

        </div>
        <div class="panel-foot">
            <div class="form-button">
                <div id="tips"></div>
				<button class="button bg-main" id="ajaxForm" type='submit'>保存</button>
				<if condition='ACTION_NAME eq "article"'>
                <button class="button bg" type="reset">重置</button>
				</if>
            </div>
        </div>
    </div>
</form>

<script>
    KindEditor.ready(function(K) {
        var editor1 = K.create('textarea[name="content"]', {
            cssPath : '__PUBLIC__/keditor/plugins/code/prettify.css',
            uploadJson : '__PUBLIC__/keditor/php/upload_json.php',
            fileManagerJson : '__PUBLIC__/keditor/php/file_manager_json.php',
            allowFileManager : true
        });
        prettyPrint();
    });
</script>

<script type="text/javascript" src="__PUBLIC__/webuploader/FileUpload.js"></script>
