<form method="post" enctype="multipart/form-data" class="form-x one-form form-auto" id="form" action="{:U('/Renshi/addRenshi',array('id'=>$list['id']))}">
	 <div class="panel one-box  active">
        <div class="panel-head">
            <strong>添加人事档案</strong>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <div class="label">
                    <label>员工编号</label>
                </div>
                <div class="field">
                    <input type="text" class="input" name="yuangongbh" size="60" value="{$list.yuangongbh}">
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label>姓名</label>
                </div>
                <div class="field">
                    <input type="text" class="input" name="xingming" size="60" value="{$list.xingming}" style="border-color:rgb(255, 102, 0);"><span style="color:red;"> *必填</span>
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label>性别</label>
                </div>
                <div class="field">
                    <div class="button-group radio">
                            <label class="button active">
                                <input name="xingbie" value="1" checked="checked" type="radio">
                                <span class="icon icon-check"></span> 男
                            </label>
                            <label class="button">
                                <input name="xingbie" value="2" type="radio">
                                <span class="icon icon-check"></span> 女
                            </label>
                    </div>
                    <span style="color:red;"> *必选</span>
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label>职务</label>
                </div>
                <div class="field">
                    <select class="select" name="zhiwu" style="border-color:rgb(255, 102, 0);height:32px;border-radius: 4px;">
                        <option value="">请选择职务</option>
                        <option value="教师">教师</option>
                        <option value="教学组长">教学组长</option>
                        <option value="教务主任">教务主任</option>
                        <option value="招生顾问">招生顾问</option>
                        <option value="招生主任">招生主任</option>
                        <option value="招生校长">招生校长</option>
                    </select>
                    <span style="color:red;"> *必选</span>
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label>类型</label>
                </div>
                <div class="field">
                    <select class="select" name="leixing" style="border-color:rgb(255, 102, 0);height:32px;border-radius: 4px;">
                        <option value="">请选择类型</option>
                        <option value="试用">试用</option>
                        <option value="正式">正式</option>
                        <option value="停薪留职">停薪留职</option>
                    </select>
                    <span style="color:red;"> *必选</span>
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label>岗位类型</label>
                </div>
                <div class="field">
                    <div class="button-group radio">
                            <label class="button active">
                                <input name="gangweilx" value="1" checked="checked" type="radio">
                                <span class="icon icon-check"></span> 全职
                            </label>
                            <label class="button">
                                <input name="gangweilx" value="2" type="radio">
                                <span class="icon icon-check"></span> 兼职
                            </label>
                    </div>
                    <span style="color:red;"> *必选</span>
                </div>
            </div>
            <!-- <div class="form-group">
                <div class="label">
                    <label>区域</label>
                </div>
                <div class="field">
                    <select class="select" name="cid" style="border-color:rgb(255, 102, 0);height:32px;border-radius: 4px;">
                        <option value="">请选择区域</option>
                        <option value="1">中国</option>
                        <option value="2">外国</option>
                    </select>
                    <span style="color:red;"> *必选</span>
                </div>
            </div> -->
            <div class="form-group">
                <div class="label">
                    <label>校区</label>
                </div>
                <div class="field">
                    <select class="select" name="sid" style="border-color:rgb(255, 102, 0);height:32px;border-radius: 4px;">
                        <option value="">请选择校区</option>
                        <foreach name="school" item="v">
                            <option value="{$v.id}">{$v.name}</option>
                        </foreach>
                    </select>
                    <span style="color:red;"> *必选</span>
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label>部门</label>
                </div>
                <div class="field">
                    <select class="select" name="bumen" style="border-color:rgb(255, 102, 0);height:32px;border-radius: 4px;">
                        <option value="">请选择部门</option>
                        <option value="市场部">市场部</option>
                        <option value="行政部">行政部</option>
                        <option value="教学部">教学部</option>
                    </select>
                    <span style="color:red;"> *必选</span>
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label>二级部门</label>
                </div>
                <div class="field">
                    <div class="field">
                        <select class="select" name="bumen2" style="height:32px;border-radius: 4px;" disabled="disabled">
                            <option value="">请选择二级部门</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label>出生日期</label>
                </div>
                <div class="field">
                    <input type="date" class="input datetimepicker" name="chushengrq" size="60" value="" style="border-color:rgb(255, 102, 0);"><span style="color:red;"> *必填</span>
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label>第一学历</label>
                </div>
                <div class="field">
                    <select class="select" name="diyixl" style="border-color:rgb(255, 102, 0);height:32px;border-radius: 4px;">
                        <option value="">请选择第一学历</option>
                        <option value="本科">本科</option>
                        <option value="大专">大专</option>
                        <option value="研究生">研究生</option>
                        <option value="博士">博士</option>
                        <option value="高中">高中</option>
                        <option value="专科及以下">专科及以下</option>
                    </select>
                    <span style="color:red;"> *必选</span>
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label>第一学历院校</label>
                </div>
                <div class="field">
                    <input type="text" class="input" name="diyixlyx" size="60" value="{$list.diyixlyx}" style="border-color:rgb(255, 102, 0);"><span style="color:red;"> *必填</span>
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label>第一学历专业</label>
                </div>
                <div class="field">
                    <input type="text" class="input" name="diyixlzy" size="60" value="{$list.diyixlzy}">
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label>第一学历毕业时间</label>
                </div>
                <div class="field">
                    <input type="date" class="input datetimepicker" name="diyixlbysj" size="60" value="">
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label>最高学历</label>
                </div>
                <div class="field">
                    <select class="select" name="zuigaoxl" style="border-color:rgb(255, 102, 0);height:32px;border-radius: 4px;">
                        <option value="">请选择第一学历</option>
                        <option value="本科">本科</option>
                        <option value="大专">大专</option>
                        <option value="研究生">研究生</option>
                        <option value="博士">博士</option>
                        <option value="高中">高中</option>
                        <option value="专科及以下">专科及以下</option>
                    </select>
                    <span style="color:red;"> *必选</span>
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label>最高学历院校</label>
                </div>
                <div class="field">
                    <input type="text" class="input" name="zuigaoxlyx" size="60" value="{$list.zuigaoxlyx}" style="border-color:rgb(255, 102, 0);"><span style="color:red;"> *必填</span>
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label>最高学历专业</label>
                </div>
                <div class="field">
                    <input type="text" class="input" name="zuigaoxlzy" size="60" value="{$list.zuigaoxlzy}">
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label>最高学历毕业时间</label>
                </div>
                <div class="field">
                    <input type="date" class="input datetimepicker" name="zuigaoxlbysj" size="60" value="">
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label>资格证书</label>
                </div>
                <div class="field">
                    <input type="text" class="input" name="zigezs" size="60" value="{$list.zigezs}">
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label>入职日期</label>
                </div>
                <div class="field">
                    <input type="date" class="input datetimepicker" name="ruzhirq" size="60" value="" style="border-color:rgb(255, 102, 0);"><span style="color:red;"> *必填,格式如2011/11/11</span>
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label>合同开始时间</label>
                </div>
                <div class="field">
                    <input type="date" class="input datetimepicker" name="hetongkssj" size="60" value="" style="border-color:rgb(255, 102, 0);"><span style="color:red;"> *必填,格式如2011/11/11</span>
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label>合同到期时间</label>
                </div>
                <div class="field">
                    <input type="date" class="input datetimepicker" name="hetongdqsj" size="60" value="" style="border-color:rgb(255, 102, 0);"><span style="color:red;"> *必填,格式如2011/11/11</span>
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label>婚否</label>
                </div>
                <div class="field">
                    <div class="button-group radio">
                        <label class="button">
                            <input name="hunfou" value="1" type="radio">
                            <span class="icon icon-check"></span> 已婚
                        </label>
                        <label class="button active">
                            <input name="hunfou" value="2" checked="checked" type="radio">
                            <span class="icon icon-check"></span> 未婚
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label>生育状况</label>
                </div>
                <div class="field">
                    <div class="button-group radio">
                        <label class="button">
                            <input name="shengyuzh" value="1" type="radio">
                            <span class="icon icon-check"></span> 是
                        </label>
                        <label class="button active">
                            <input name="shengyuzh" value="2" checked="checked" type="radio">
                            <span class="icon icon-check"></span> 否
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label>户口性质</label>
                </div>
                <div class="field">
                    <select class="select" name="hukouxz" style="height:32px;border-radius: 4px;">
                        <option value="">请选择户口性质</option>
                        <option value="外地农业户口">外地农业户口</option>
                        <option value="外地非农业户口">外地非农业户口</option>
                        <option value="本地农业户口">本地农业户口</option>
                        <option value="本地非农业户口">本地非农业户口</option>
                    </select>
                </div>
            </div>
            <!-- <div class="form-group">
                <div class="label">
                    <label>工作所在地</label>
                </div>
                <div class="field">
                    <input type="text" class="input" name="gongzuoszd" size="60" value="{$list.gongzuoszd}">
                </div>
            </div> -->
            <div class="form-group">
                <div class="label">
                    <label>联系电话</label>
                </div>
                <div class="field">
                    <input type="text" class="input" name="lianxidh" size="60" value="{$list.lianxidh}">
                </div>
            </div>
            <!-- <div class="form-group">
                <div class="label">
                    <label>户口所在地</label>
                </div>
                <div class="field">
                    <div data-toggle="distpicker">
                        <select data-province="---- 选择省 ----" name="hukousheng"></select>
                        <select data-city="---- 选择市 ----" name="hukoushi"></select>
                        <select data-district="---- 选择区 ----" name="hukouqu"></select>
                    </div>
                </div>
            </div> -->
            <div class="form-group">
                <div class="label">
                    <label>邮箱</label>
                </div>
                <div class="field">
                    <input type="text" class="input" name="youxiang" size="60" value="{$list.youxiang}">
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label>身高(cm)</label>
                </div>
                <div class="field">
                    <input type="text" class="input" name="shengao" size="60" value="{$list.shengao}">
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label>体重(kg)</label>
                </div>
                <div class="field">
                    <input type="text" class="input" name="tizhong" size="60" value="{$list.tizhong}">
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label>穿衣尺寸</label>
                </div>
                <div class="field">
                    <select class="select" name="chuanyicc" style="height:32px;border-radius: 4px;">
                        <option value="">请选择穿衣尺寸</option>
                        <option value="XS">XS</option>
                        <option value="S">S</option>
                        <option value="M">M</option>
                        <option value="L">L</option>
                        <option value="XL">XL</option>
                        <option value="XXL">XXL</option>
                        <option value="XXL">XXL</option>
                        <option value="XXXL">XXXL</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label>合同签订公司</label>
                </div>
                <div class="field">
                    <input type="text" class="input" name="hetongqdgs" size="60" value="{$list.hetongqdgs}">
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label>社保购买公司</label>
                </div>
                <div class="field">
                    <input type="text" class="input" name="shebaogmgs" size="60" value="{$list.shebaogmgs}">
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label>户籍地址</label>
                </div>
                <div class="field">
                    <div data-toggle="distpicker">
                        <select data-province="---- 选择省 ----" name="hujisheng" style="height:32px;border-radius: 4px;"></select>
                        <select data-city="---- 选择市 ----" name="hujishi" style="height:32px;border-radius: 4px;"></select>
                        <select data-district="---- 选择区 ----" name="hujiqu" style="height:32px;border-radius: 4px;"></select>
                    </div>
                </div>
                <div class="field">
                    <input type="text" class="input" name="hujidz" size="60" value="{$list.hujidz}" style="margin-top:10px;">
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label>通讯地址</label>
                </div>
                <div class="field">
                    <div data-toggle="distpicker">
                        <select data-province="---- 选择省 ----" name="tongxunsheng" style="height:32px;border-radius: 4px;"></select>
                        <select data-city="---- 选择市 ----" name="tongxunshi" style="height:32px;border-radius: 4px;"></select>
                        <select data-district="---- 选择区 ----" name="tongxunqu" style="height:32px;border-radius: 4px;"></select>
                    </div>
                </div>
                <div class="field">
                    <input type="text" class="input" name="tongxundz" size="60" value="{$list.tongxundz}" style="margin-top:10px;">
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label>聘用渠道</label>
                </div>
                <div class="field">
                    <select class="select" name="pinyongqd" style="height:32px;border-radius: 4px;">
                        <option value="">请选择聘用渠道</option>
                        <option value="1">聘用合同</option>
                        <option value="2">劳务合同</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label>公积金购买公司</label>
                </div>
                <div class="field">
                    <input type="text" class="input" name="gongjijgmgs" size="60" value="{$list.gongjijgmgs}">
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label>紧急联系人</label>
                </div>
                <div class="field">
                    <input type="text" class="input" name="jinjilxr" size="60" value="{$list.jingjilxr}">
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label>关系</label>
                </div>
                <div class="field">
                    <input type="text" class="input" name="guanxi" size="60" value="{$list.guanxi}">
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label>紧急联系人电话</label>
                </div>
                <div class="field">
                    <input type="text" class="input" name="jingjilxrdh" size="60" value="{$list.jingjilxrdh}">
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label>社保号</label>
                </div>
                <div class="field">
                    <input type="text" class="input" name="shebaohao" size="60" value="{$list.shebaohao}">
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label>兴业银行卡号</label>
                </div>
                <div class="field">
                    <input type="text" class="input" name="xingyeyhkh" size="60" value="{$list.xingyeyhkh}">
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label>其他银行卡号</label>
                </div>
                <div class="field">
                    <input type="text" class="input" name="qitayhkh" size="60" value="{$list.qitayhkh}">
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label>是否有担保人</label>
                </div>
                <div class="field">
                    <div class="button-group radio">
                        <label class="button">
                            <input name="shifouydbr" value="1" type="radio">
                            <span class="icon icon-check"></span> 是
                        </label>
                        <label class="button active">
                            <input name="shifouydbr" value="2" checked="checked" type="radio">
                            <span class="icon icon-check"></span> 否
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label>担保人姓名</label>
                </div>
                <div class="field">
                    <input type="text" class="input" name="danbaorxm" size="60" value="{$list.danbaorxm}">
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label>担保人电话</label>
                </div>
                <div class="field">
                    <input type="text" class="input" name="danbaordh" size="60" value="{$list.danbaordh}">
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label>担保人身份证号码</label>
                </div>
                <div class="field">
                    <input type="text" class="input" name="danbaorsfzhm" size="60" value="{$list.danbaorsfzhm}">
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label>护照号码</label>
                </div>
                <div class="field">
                    <input type="text" class="input" name="huzhaohm" size="60" value="{$list.huzhaohm}">
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label>护照有效期</label>
                </div>
                <div class="field">
                    <input type="date" class="datetimepicker" class="input" name="huzhaoyxq" size="60" value=""><span style="color:red;"> 格式如2011/11/11</span>
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label>持有签证类型</label>
                </div>
                <div class="field">
                    <select class="select" name="chiyouqzlx" style="height:32px;border-radius: 4px;">
                        <option value="">请选择持有签证类型</option>
                        <option value="外交签证">外交签证</option>
                        <option value="探亲签证">探亲签证</option>
                        <option value="旅游签证">旅游签证</option>
                        <option value="学习签证">学习签证</option>
                        <option value="职业签证">职业签证</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label>签证有效期</label>
                </div>
                <div class="field">
                    <input type="date" class="input datetimepicker" name="qianzhengyxq" size="60" value=""><span style="color:red;"> 格式如2011/11/11</span>
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label>国籍</label>
                </div>
                <div class="field">
                    <input type="text" class="input" name="guoji" size="60" value="{$list.guoji}">
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label>备注</label>
                </div>
                <div class="field">
                    <!-- <input type="text" class="input" name="leixing" size="60" value="{$list.leixing}"> -->
                    <textarea name="beizhu" class="input" style="width:465px;height:98px;resize:none;">{$list.beizhu}</textarea>
                </div>
            </div>
        </div>

        <div class="panel-foot">
            <div class="form-button">
                <div id="tips"></div>
				<button class="button bg-main" id="ajaxForm" type='submit'>保存</button>
				<if condition='ACTION_NAME eq "article"'>
                <button class="button bg" type="reset">重置</button>
				</if>
            </div>
        </div>
    </div>
</form>

<!-- 日期选择插件载入开始 -->
<!-- <link rel="stylesheet" type="text/css" href="__PUBLIC__/time/bootstrap-datetimepicker.css"/ > -->
<!-- <script src="__PUBLIC__/time/bootstrap-datetimepicker.js"></script> -->
<!-- 日期选择插件载入结束 -->

<!-- 日期选择插件初始化开始 -->
<script>
    // $('#datetimepicker').datetimepicker();
</script>
<!-- 日期选择插件初始化结束 -->

<!-- 地址联动插件载入开始 -->
<script src="__PUBLIC__/address/distpicker.data.js"></script>
<script src="__PUBLIC__/address/distpicker.js"></script>
<script src="__PUBLIC__/address/main.js"></script>
<!-- 地址联动插件载入结束 -->

<script>
    KindEditor.ready(function(K) {
        var editor1 = K.create('textarea[name="content"]', {
            cssPath : '__PUBLIC__/keditor/plugins/code/prettify.css',
            uploadJson : '__PUBLIC__/keditor/php/upload_json.php',
            fileManagerJson : '__PUBLIC__/keditor/php/file_manager_json.php',
            allowFileManager : true
        });
        prettyPrint();
    });
</script>

<script type="text/javascript" src="__PUBLIC__/webuploader/FileUpload.js"></script>


