<div class="table-tools clearfix">
    <div class="form-inline">
        <div class="form-group">
            <div class="field">
                学校：<input type="text" class="input" size="30" name="keywords" value="{$get.keywords}">

            </div>
        </div>
        <div class="form-group">
            <div class="field">
                时间从：<input type="text" class="input datetimepicker" size="30" name="start_time" value="{$get.start_time}">
                    到
                <input type="text" class="input datetimepicker" size="30" name="end_time" value="{$get.end_time}">
            </div>
        </div>
        <div class="form-button">
            <input type="submit" name="search" class="button bg-blue button-small" value="查询">
        </div>
    </div>
</div>