<form method="post" class="form-x one-form form-auto" id="form" action="{:U('/Nav/runAdd')}">
    <div class="tab one-tab">
        <div class="panel one-box  active">
            <div class="panel-head">
                <div class="tab-head">
                    <strong>{$name}添加导航</strong>
                    <ul class="tab-nav">
                        <li class="active"><a href="#tab-1">基本信息</a>
                    </ul>
                </div>
            </div>
            <div class="tab-body">
                <div class="tab-panel active" id="tab-1">
                    <div class="form-group">
                        <div class="label">
                            <label>导航名称</label>
                        </div>
                        <div class="field">
                            <input type="text" class="input" id="name" name="nav_name" size="60" datatype="s" value="{$info.name}">
                        </div>
                    </div>
						<div class="form-group">
                <div class="label">
                    <label>所属菜单</label>
                </div>
                <div class="field">
                    <select class="input" name="link">						
						<option value="">==请选择分类=</option>
						<optgroup label="====文章分类===="></optgroup>
						<foreach name="class" item="cs">
						<option value="Article/index/cid/{$cs.id}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;┠─{$cs.name}</option>
						</foreach> 
						<optgroup label="==作品展示分类=="></optgroup> 
						<foreach name="casesort" item="ct">
						<option value="Cass/index/class_id/{$ct.id}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;┠─{$ct.name}</option>
						</foreach>
					</select>
                </div>
            </div>
                    <div class="form-group">
                        <div class="label">
                            <label>排序</label>
                        </div>
                        <div class="field">
                            <input type="number" class="input" id="sort" name="sort" size="60" datatype="n" value="0">
                            <div class="input-note">栏目列表调用时的顺序，数字越小越靠前</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="label">
                            <label>新窗口打开</label>
                        </div>
                        <div class="field">
                            <div class="button-group radio">
                                <if condition="$info.target == 1">
                                    <label class="button active"><input name="target" value="1" checked="checked" type="radio">
                                        <span class="icon icon-check"></span> 是</label>
                                    <label class="button"><input name="target" value="0" type="radio">
                                        <span class="icon icon-times"></span> 否</label>
                                <else/>
                                    <label class="button"><input name="target" value="0" checked="checked" type="radio">
                                        <span class="icon icon-check"></span> 否</label>
                                    <label class="button active"><input name="target" value="1" type="radio">
                                        <span class="icon icon-times"></span> 是</label>
                                </if>
                            </div>
                            <div class="input-note">新窗口打开网站</div>
                        </div>
                    </div> 
					
					  <div class="form-group">
                        <div class="label">
                            <label>导航链接</label>
                        </div>
                        <div class="field">
                            <input type="text" class="input" id="check_url" name="check_url" size="60" datatype="s" value="">
							  <div class="input-note" style="color:red;">内部链接请留空,外部链接请带上http或https</div>
                        </div>
                    </div>                
                </div>              
            </div>
            <div class="panel-foot">
                <div class="form-button">
                    <div id="tips"></div>
                    <input type="hidden" name="class_id" type="hidden" value="{$info.class_id}">
                    <button class="button bg-main" type="submit">保存</button>
                    <button class="button bg" type="reset">重置</button>
                </div>
            </div>
        </div>
    </div>
</form>