<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{$xingming}工资条</title>
<LINK href="favicon.ico" type="image/x-icon" rel=icon>
<LINK href="favicon.ico" type="image/x-icon" rel="shortcut icon">
    <!-- import css -->
    <link rel="stylesheet" type="text/css" href="/Public/Admin/css/pingtu.css" />
    <link rel="stylesheet" type="text/css" href="/Public/Admin/css/admin.css" />
    <link rel="stylesheet" type="text/css" href="/Public/Admin/dialog/dialog.css" />

    <!-- import js -->
    <script type="text/javascript" src="/Public/Admin/js/jquery.min.js"></script>
    <script type="text/javascript" src="/Public/Admin/js/pingtu.js"></script>
    <script type="text/javascript" src="/Public/Admin/js/respond.js"></script>
    <script type="text/javascript" src="/Public/Admin/dialog/mDialogMin.js"></script>

</head>
<style>
    table{border: solid 1px #ccc;width: 100%}
    td,th{text-align: center;border-right: solid 1px #ccc;line-height: 2em;}
    tr{border-bottom:solid 1px #ccc;}
    h3{margin-top: 2%;margin-bottom: 2%}
    p{font-size: 2em;}
</style>
<body>
<div>
    <div style="text-align: center;margin-top: 2em;">
        <foreach name="list" item="vv">
            <p><a href="{:U('getWage',array('qishu'=>$vv['qishu'],'phone'=>$phone))}">第{$vv.qishu}期</a></p>
        </foreach>
        <empty name="list">
            <p>您还没有工资记录</p>
        </empty>
    </div>
</div>
<!-- <script type="text/javascript">
    Dialog.init('',{
        title : '请开通权限后查看',
        button : {
            立即开通 : function(){
                Dialog.init("<a href='tel:13764567708'>13764567708</a>");
//                Dialog.close(this);
            }
        }
    });
</script> -->
</body>
</html>
