<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>胡涛工资条</title>
<LINK href="favicon.ico" type="image/x-icon" rel=icon>
<LINK href="favicon.ico" type="image/x-icon" rel="shortcut icon">
    <!-- import css -->
    <link rel="stylesheet" type="text/css" href="/Public/Admin/css/pingtu.css" />
    <link rel="stylesheet" type="text/css" href="/Public/Admin/css/admin.css" />

    <!-- import js -->
    <script type="text/javascript" src="/Public/Admin/js/jquery.min.js"></script>
    <script type="text/javascript" src="/Public/Admin/js/pingtu.js"></script>
    <script type="text/javascript" src="/Public/Admin/js/respond.js"></script>

</head>
<style>
    table{border: solid 1px #ccc;width: 100%}
    td,th{text-align: center;border-right: solid 1px #ccc;line-height: 2em;}
    tr{border-bottom:solid 1px #ccc;}
    h3{margin-top: 2%;margin-bottom: 2%}
</style>
<body style="filter: blur(2px);">
<div>
    <center>
        <h3>{$school_name}-教学部业绩报表</h3>
        <table>
            <tr>
                <th>老师</th>
                <th>班型</th>
                <th>授课小时</th>
                <th>总人次小时数</th>
                <th>标准收入</th>
            </tr>
            <foreach name="list" item="vv">
                <tr>
                    <td>{$vv.laoshi}</td>
                    <td>{$vv.banxing}</td>
                    <td>{$vv.shoukexs}</td>
                    <td>{$vv.zongrencxs}</td>
                    <td>{$vv.biaozhunsr}</td>
                </tr>
            </foreach>
        </table>
    </center>
</div>
</body>
</html>
