<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{$xingming}工资条</title>
<LINK href="favicon.ico" type="image/x-icon" rel=icon>
<LINK href="favicon.ico" type="image/x-icon" rel="shortcut icon">
    <!-- import css -->
    <link rel="stylesheet" type="text/css" href="/Public/Admin/css/pingtu.css" />
    <link rel="stylesheet" type="text/css" href="/Public/Admin/css/admin.css" />
    <link rel="stylesheet" type="text/css" href="/Public/Admin/dialog/dialog.css" />

    <!-- import js -->
    <script type="text/javascript" src="/Public/Admin/js/jquery.min.js"></script>
    <script type="text/javascript" src="/Public/Admin/js/pingtu.js"></script>
    <script type="text/javascript" src="/Public/Admin/js/respond.js"></script>
    <script type="text/javascript" src="/Public/Admin/dialog/mDialogMin.js"></script>

</head>
<style>
    table{border: solid 1px #ccc;width: 100%}
    td,th{text-align: center;border-right: solid 1px #ccc;line-height: 2em;}
    tr{border-bottom:solid 1px #ccc;}
    h3{margin-top: 2%;margin-bottom: 2%}
</style>
<body>
<div>
    <center>
        <h3>{$xingming}{$info.yuefen}工资明细</h3>
        <table>
            <tr>
                <td>月份</td>
                <td>{$info.yuefen}</td>
            </tr>
            <tr>
                <td>分校</td>
                <td>{$info.fenxiao}</td>
            </tr>
            <tr>
                <td>部门</td>
                <td>{$info.bumen}</td>
            </tr>
            <tr>
                <td>二级部门</td>
                <td>{$info.erjibm}</td>
            </tr>
            <tr>
                <td>岗位级别</td>
                <td>{$info.gangweijb}</td>
            </tr>
            <tr>
                <td>职位</td>
                <td>{$info.zhiwei}</td>
            </tr>
            <tr>
                <td>岗位类型</td>
                <td>{$info.gangweilx}</td>
            </tr>
            <tr>
                <td>在职状态</td>
                <td>{$info.zaizhizt}</td>
            </tr>
            <tr>
                <td>姓名</td>
                <td>{$info.xingming}</td>
            </tr>
            <tr>
                <td>身份证号</td>
                <td>{$info.shenfenzhm}</td>
            </tr>
            <tr>
                <td>入职日期</td>
                <td>{$info.ruzhirq}</td>
            </tr>
            <tr>
                <td>收入</td>
                <td>{$info.shouru}</td>
            </tr>
            <tr>
                <td>支出</td>
                <td>{$info.zhichu}</td>
            </tr>
            <tr>
                <td>现金净额</td>
                <td>{$info.xianjinje}</td>
            </tr>
            <tr>
                <td>是否开业前6个月内1.8倍</td>
                <td>{$info.shifkyq}</td>
            </tr>
            <tr>
                <td>净现金流分成</td>
                <td>{$info.jingxianjlfc}</td>
            </tr>
            <tr>
                <td>利润分成</td>
                <td>{$info.lirunfc}</td>
            </tr>
            <tr>
                <td>规模奖励分成</td>
                <td>{$info.guimojlfc}</td>
            </tr>
            <tr>
                <td>退费考核分成</td>
                <td>{$info.tuifeikhfc}</td>
            </tr>
            <tr>
                <td>周营收达标考核分成</td>
                <td>{$info.zhouyinsdbkhfc}</td>
            </tr>
            <tr>
                <td>年度营收超额分成</td>
                <td>{$info.nianduyscefc}</td>
            </tr>
            <tr>
                <td>年度营收超超额分成</td>
                <td>{$info.nianduysccefc}</td>
            </tr>
            <tr>
                <td>开店奖励分成</td>
                <td>{$info.kaidianjlfc}</td>
            </tr>
            <tr>
                <td>团队稳定分成</td>
                <td>{$info.tuanduiwdfc}</td>
            </tr>
            <tr>
                <td>素质基金</td>
                <td>{$info.suzhijj}</td>
            </tr>
            <tr>
                <td>考勤</td>
                <td>{$info.kaoqin}</td>
            </tr>
            <tr>
                <td>预发</td>
                <td>{$info.yufa}</td>
            </tr>
            <tr>
                <td>其他扣罚</td>
                <td>{$info.qitakk}</td>
            </tr>
            <tr>
                <td>应发工资合计</td>
                <td>{$info.yingfagzhj}</td>
            </tr>
            <tr>
                <td>公积金</td>
                <td>{$info.gongjij}</td>
            </tr>
            <tr>
                <td>个人社保</td>
                <td>{$info.gerensb}</td>
            </tr>
            <tr>
                <td>个人所得税</td>
                <td>{$info.gerensds}</td>
            </tr>
            <tr>
                <td>实发工资合计</td>
                <td>{$info.shifagzhj}</td>
            </tr>
            <tr>
                <td>备注</td>
                <td>{$info.beizhu}</td>
            </tr>

        </table>
    </center>
</div>
</body>
</html>
