<style type="text/css">
.button{
    cursor:pointer;
    margin-top:4px;
}
</style>
<form method="post" id="form" action="#">
    <div class="panel one-box">
        <div class="table-responsive">
            <table id="table" class="table table-hover ">
                <tbody>
                    <tr>
                        <th width="60">期数</th>
                        <th width="80">批次</th>
                        <th width="80">收钱吧</th>
                        <th width="80">拉卡拉</th>
                        <!-- <th width="80">现金</th> -->
                        <!-- <th width="80">投资款</th> -->
                        <th width="80">操作</th>
                        <th width="80">行操作</th>

                        <!-- <th width="80">行政状态</th>
                        <th width="80">行政经理状态</th> -->
                        <!-- <th width="80">行操作</th> -->
                    </tr>
                    <foreach name='list' item='v' key='k'>
                        <tr>
                            <td>{$v.qishu}</td>
                            <td>{$v.pici}</td>
                            <foreach name='arr' item='v1' key='k1'>
                                <if condition="$v[$v1] eq 2">
                                    <td>
                                        <div>
                                            <a class="button bg-green button-small icon-eye" title="查看表格" alt="查看表格" href="__CONTROLLER__/table_xq/tid/{$k1}/qishu/{$v.qishu}/pici/{$v.pici}" style="cursor:pointer;margin-top:4px;"></a>
                                            <a class="button bg-red button-small icon-trash-o js-sub" title="删除" alt="删除" target2="__CONTROLLER__/del/tid/{$k1}/pici/{$v.pici}/qishu/{$v.qishu}" style="cursor:pointer;margin-top:4px;"></a>
                                            <a href="__CONTROLLER__/download/tid/{$k1}/qishu/{$v.qishu}/pici/{$v.pici}" class="button bg-blue button-small icon-download" title="立即下载" alt="立即下载" style="cursor:pointer;margin-top:4px;"></a>
                                        </div>
                                    </td>

                                    <else />
                                    <td>
                                        <a class="button bg-dot button-small icon-upload" title="未导入" alt="未导入" href="__CONTROLLER__/import/tid/{$k1}/qishu/{$v.qishu}/pici/{$v.pici}"></a>
                                    </td>
                                </if>
                            </foreach>
                            <if condition="$rid eq 4">
                                <td>
                                    <if condition="$v.status_cw neq 2">
                                        <a class="button bg-yellow button-small js-sub" title="通过审核" alt="通过审核" target2="__CONTROLLER__/checked/qishu/{$v.qishu}/pici/{$v.pici}" style="cursor:pointer">通过</a>
                                    <else />
                                        <a class="button bg-red button-small js-sub" title="取消" alt="取消" target2="__CONTROLLER__/cancel/qishu/{$v.qishu}/pici/{$v.pici}" style="cursor:pointer">取消</a>
                                    </if>

                                </td>
                            <else />
                                <td></td>
                            </if>
                            <td>
                                <div>
                                    <a class="button bg-red button-small js-sub icon-trash-o" title="删除此行" alt="删除此行" target2="__CONTROLLER__/delRow/pici/{$v.pici}/qishu/{$v.qishu}" style="cursor:pointer"></a>
                                </div>
                            </td>
                        </tr>
                    </foreach>
                </tbody>
            </table>
        </div>
        <div class="panel-foot table-foot clearfix">
            <!--<div class="float-left">-->
                <!--<div class="form-inline">-->
                    <!--<div class="form-button">-->
                        <!--<a class="button bg-blue button-small" type="submit" href="{:U('import')}?tid=1">导入数据</a>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<br>-->
            <!--</div>-->
            <div class="float-right pagination pagination-small">
                {$fpage}
            </div>
        </div>
    </div>
</form>
<script>
    $(function($) {
        // 全选
        $("#selectAll").click(function () {
            $("#table :checkbox").attr("checked", true);
        });
        // 反选
        $("#reverse").click(function () {
            $("#table :checkbox").each(function () {
                $(this).attr("checked", !$(this).attr("checked"));
            });
        });
        // 执行操作
        $("#selectSubmit").click(function () {
            var type = $('#selectAction').val();    // 获取执行操作
            if (type == 1) {
                var url = "updateArticl";    // 修改文章
            }
            // 序列化 表单数据 后提交
            $.post(url,$("form").serialize(),function(data){
                // data 是 ajaxreturn 返回的 数据
                if(data['status'] == 1){    // 处理成功后

                    layer.alert(data['info'], {icon : 1} , function(index){
                        window.location.reload();   // 刷新当前页面
                        layer.close(index); // 关闭遮罩层
                    });
                } else {
                    // 处理失败后 刷新页面

                }
            });
        });

    });
</script>
<script>
    $(function($) {
        // 绑定提交操作
        $(".js-sub").click(function () {
            var subUrl = $(this).attr('target2');
            var dd = $(this).attr('title');
            //询问框
            layer.confirm('您确定'+dd+'吗?', {
                icon: 4,
                btn: ['确定','取消'] //按钮
            }, function(){
                //loading层
                var index = layer.load(1, {
                    shade: [0.8,'#fff'] //0.1透明度的白色背景
                });
                $.post(subUrl,$("form").serialize(),function(data){
                    if(data.status){
                        layer.msg(data.info, {icon: 1});
                    }else{
                        layer.msg(data.info, {icon: 2});
                    }
                    setTimeout("window.location.reload()",1000); // 让提示框停留一会
                });
            });
        });

        // 绑定提交操作
        $(".js-sub2").click(function () {
            var subUrl = $(this).attr('target2');
            var dd = $(this).attr('title');
            //询问框
            layer.confirm('您确定'+dd+'吗?', {
                icon: 4,
                btn: ['确定','取消'] //按钮
            }, function(){
                $(this).attr("disabled",true);
                $.post(subUrl,$("form").serialize(),function(data){});
                layer.msg('操作成功', {icon: 1});

                setTimeout("window.location.reload()",1000); // 让提示框停留一会

            });
        });

        $('.js-lock').click(function(){
            layer.alert('操作已锁定');
        });
        $('.js-notNeed').click(function(){
            layer.alert('不需要导入该表');
        });
    });
</script>
