<form method="post" enctype="multipart/form-data" class="form-x one-form form-auto" id="form" action="{:U('/Setting/addZhanghu',array('id'=>$list['id']))}">
	 <div class="panel one-box  active">
        <div class="panel-head">
            <strong>添加收款帐号</strong>
        </div>
        <div class="panel-body">
			<input type="hidden" name="intCreateDate" value="<php>echo time()</php>">
			<div class="form-group">
                <div class="label">
                    <label>帐户姓名</label>
                </div>
                <div class="field">
                    <input type="text" class="input" name="strName" size="60" value="{$list.strname}">
                </div>
            </div>
			<div class="form-group">
                <div class="label">
                    <label>开户银行/商户名称</label>
                </div>
                <div class="field">
                    <input type="text" class="input" name="strBankName" size="60" value="{$list.strbankname}">
					<div class="input-note">1、拉卡拉，请填写收款银行名称；2、收钱吧，请填写收款商户名称。均半必填项！</div>
                </div>
            </div>
			<div class="form-group">
                <div class="label">
                    <label>开户银行帐号/商户号</label>
                </div>
                <div class="field">
                    <input type="text" class="input" name="strBankAccount" size="60" value="{$list.strbankaccount}">
					<div class="input-note">1、拉卡拉，请填写收款银行帐号，或不填写；2、收钱吧，请填写收款商户号，必填项。</div>
                </div>
            </div>
			<div class="form-group">
                <div class="label">
                    <label>对帐平台</label>
                </div>
                <div class="field">
					<select class="select" style="height:32px;border-radius: 4px;" name="strMoneyName">
						<option value="">=====请选择对帐平台=====</option>
						<option value="拉卡拉" <if condition="$list['strmoneyname']=='拉卡拉'">selected</if>>拉卡拉</option>
						<option value="收钱吧" <if condition="$list['strmoneyname']=='收钱吧'">selected</if>>收钱吧</option>
					</select>
                </div>
            </div>
			
			<div class="form-group">
                <div class="label">
                    <label>备注</label>
                </div>
                <div class="field">
                    <input type="text" class="input" name="textRemark" size="60" value="{$list.textremark}">
                </div>
            </div>
			
			<div class="form-group">
                <div class="label">
                    <label>是否启用</label>
                </div>
                <div class="field">
                    <div class="button-group radio">
                        <if condition="$list.isuse == 1">
                            <label class="button active">
                                <input name="isUse" value="1" checked="checked" type="radio">
                                <span class="icon icon-check"></span> 启用
                            </label>
                            <label class="button">
                                <input name="isUse" value="0" type="radio">
                                <span class="icon icon-times"></span> 不启用
                            </label>
                        <else/>
                            <label class="button ">
                                <input name="isUse" value="1"type="radio">
                                <span class="icon icon-check"></span> 启用
                            </label>
                            <label class="button active">
                                <input name="isUse" value="0" checked="checked"  type="radio">
                                <span class="icon icon-times"></span> 不启用
                            </label>
                        </if>
                    </div>
                    <div class="input-note">是否启用收款帐号</div>
                </div>
            </div>
			
			<div class="form-group">
                <div class="label">
                    <label>排序</label>
                </div>
                <div class="field">
                    <input type="text" class="input" name="intOrderID" size="60" value="{$list.intorderid}">
                </div>
            </div>
			
			
        </div>
        <div class="panel-foot">
            <div class="form-button">
                <div id="tips"></div>
				<button class="button bg-main" id="ajaxForm" type='submit'>保存</button>
				<if condition='ACTION_NAME eq "article"'>
                <button class="button bg" type="reset">重置</button>
				</if>
            </div>
        </div>
    </div>
</form>

<script>
    KindEditor.ready(function(K) {
        var editor1 = K.create('textarea[name="content"]', {
            cssPath : '__PUBLIC__/keditor/plugins/code/prettify.css',
            uploadJson : '__PUBLIC__/keditor/php/upload_json.php',
            fileManagerJson : '__PUBLIC__/keditor/php/file_manager_json.php',
            allowFileManager : true
        });
        prettyPrint();
    });
</script>

<script type="text/javascript" src="__PUBLIC__/webuploader/FileUpload.js"></script>
