<form method="post" enctype="multipart/form-data" class="form-x one-form form-auto" id="form" action="{:U('/Setting/addQishu',array('id'=>$list['id']))}">
	 <div class="panel one-box  active">
        <div class="panel-head">
            <strong>添加期数</strong>
        </div>
        <div class="panel-body">
			<div class="form-group">
                <div class="label">
                    <label>期数</label>
                </div>
                <div class="field">
                    <input type="text" class="input" name="name" size="60" value="{$list.name}">
                    <p>以年月的形式，例如:201707</p>
                </div>
            </div>
            </div>

        </div>
        <div class="panel-foot">
            <div class="form-button">
                <div id="tips"></div>
				<button class="button bg-main" id="ajaxForm" type='submit'>保存</button>
				<if condition='ACTION_NAME eq "article"'>	
                <button class="button bg" type="reset">重置</button>
				</if>
            </div>
        </div>
    </div>
</form>

<script>
    KindEditor.ready(function(K) {
        var editor1 = K.create('textarea[name="content"]', {
            cssPath : '__PUBLIC__/keditor/plugins/code/prettify.css',
            uploadJson : '__PUBLIC__/keditor/php/upload_json.php',
            fileManagerJson : '__PUBLIC__/keditor/php/file_manager_json.php',
            allowFileManager : true
        });
        prettyPrint();
    });
</script>

<script type="text/javascript" src="__PUBLIC__/webuploader/FileUpload.js"></script>
