<form method="post" enctype="multipart/form-data" class="form-x one-form form-auto" id="form" action="{:U('/Setting/addSchool',array('id'=>$list['id']))}">
	 <div class="panel one-box  active">
        <div class="panel-head">
            <strong>添加校区</strong>
        </div>
        <div class="panel-body">
			<div class="form-group">
                <div class="label">
                    <label>校区名称</label>
                </div>
                <div class="field">
                    <input type="text" class="input" name="name" size="60" value="{$list.name}">
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label>收款名称</label>
                </div>
                <div class="field">
                    <input type="text" class="input" name="subname" size="60" value="{$list.subname}">
                </div>
            </div>
			<div class="form-group">
                <div class="label">
                    <label>是否启用</label>
                </div>
                <div class="field">
                    <div class="button-group radio">
                        <if condition="$list.isuse == 1">
                            <label class="button active">
                                <input name="isuse" value="1" checked="checked" type="radio">
                                <span class="icon icon-check"></span> 启用
                            </label>
                            <label class="button">
                                <input name="isuse" value="0" type="radio">
                                <span class="icon icon-times"></span> 不启用
                            </label>
                        <else/>
                            <label class="button ">
                                <input name="isuse" value="1"type="radio">
                                <span class="icon icon-check"></span> 启用
                            </label>
                            <label class="button active">
                                <input name="isuse" value="0" checked="checked"  type="radio">
                                <span class="icon icon-times"></span> 不启用
                            </label>
                        </if>
                    </div>
                    <div class="input-note">是否启用校区</div>
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label>所属区域</label>
                </div>
                <div class="field">
                    <select class="select" name="zhiwu" style="border-color:rgb(255, 102, 0);height:32px;border-radius: 4px;">
                        <option value="">请选择区域</option>

                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label>校区面积</label>
                </div>
                <div class="field">
                    <input type="text" class="input" name="mianji" size="60" value="{$list.mianji}">
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label>课室数</label>
                </div>
                <div class="field">
                    <input type="text" class="input" name="classnum" size="60" value="{$list.classnum}">
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label>是否管理社保</label>
                </div>
                <div class="field">
                    <div class="button-group radio">
                        <if condition="$list.isshebao == 1">
                            <label class="button active">
                                <input name="isshebao" value="1" checked="checked" type="radio">
                                <span class="icon icon-check"></span> 启用
                            </label>
                            <label class="button">
                                <input name="isshebao" value="0" type="radio">
                                <span class="icon icon-times"></span> 不启用
                            </label>
                            <else/>
                            <label class="button ">
                                <input name="isshebao" value="1"type="radio">
                                <span class="icon icon-check"></span> 启用
                            </label>
                            <label class="button active">
                                <input name="isshebao" value="0" checked="checked"  type="radio">
                                <span class="icon icon-times"></span> 不启用
                            </label>
                        </if>
                    </div>
                    <div class="input-note">是否管理社保</div>
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label>是否管理公积金</label>
                </div>
                <div class="field">
                    <div class="button-group radio">
                        <if condition="$list.isgongjijin == 1">
                            <label class="button active">
                                <input name="isgongjijin" value="1" checked="checked" type="radio">
                                <span class="icon icon-check"></span> 启用
                            </label>
                            <label class="button">
                                <input name="isgongjijin" value="0" type="radio">
                                <span class="icon icon-times"></span> 不启用
                            </label>
                            <else/>
                            <label class="button ">
                                <input name="isgongjijin" value="1"type="radio">
                                <span class="icon icon-check"></span> 启用
                            </label>
                            <label class="button active">
                                <input name="isgongjijin" value="0" checked="checked"  type="radio">
                                <span class="icon icon-times"></span> 不启用
                            </label>
                        </if>
                    </div>
                    <div class="input-note">是否管理公积金</div>
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label>月度警戒线</label>
                </div>
                <div class="field">
                    <input type="text" class="input" name="ydjjx" size="60" value="{$list.ydjjx}">
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label>月度超人头线</label>
                </div>
                <div class="field">
                    <input type="text" class="input" name="ydcrtx" size="60" value="{$list.ydcrtx}">
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label>月度超超人头线</label>
                </div>
                <div class="field">
                    <input type="text" class="input" name="ydccrtx" size="60" value="{$list.ydccrtx}">
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label>初始化在册人数</label>
                </div>
                <div class="field">
                    <input type="text" class="input" name="xueshengnum" size="60" value="{$list.xueshengnum}">
                    <div class="input-note">如果初始化了，这一期的月初在册人数以此为准，财务审核后自动清空</div>
                </div>
            </div>
        </div>
        <div class="panel-foot">
            <div class="form-button">
                <div id="tips"></div>
				<button class="button bg-main" id="ajaxForm" type='submit'>保存</button>
				<if condition='ACTION_NAME eq "article"'>
                <button class="button bg" type="reset">重置</button>
				</if>
            </div>
        </div>
    </div>
</form>

<script>
    KindEditor.ready(function(K) {
        var editor1 = K.create('textarea[name="content"]', {
            cssPath : '__PUBLIC__/keditor/plugins/code/prettify.css',
            uploadJson : '__PUBLIC__/keditor/php/upload_json.php',
            fileManagerJson : '__PUBLIC__/keditor/php/file_manager_json.php',
            allowFileManager : true
        });
        prettyPrint();
    });
</script>

<script type="text/javascript" src="__PUBLIC__/webuploader/FileUpload.js"></script>
