<form method="post" id="form" action="#">
    <div class="panel one-box">
        <div class="table-responsive">
            <h1 align="center" style="margin: 10px">{$arr['year']}年{$arr['month']}月{$arr['school']}经营数据汇总表</h1>
            <table class="table table-hover table-bordered table-condensed"  style="width: 400px">
                <caption align="top">分校情况</caption>
                <tr>
                    <td width="100">月份</td>
                    <td>{$arr['year']}年{$arr['month']}月</td>
                </tr>
                <tr>
                    <td width="100">分校面积</td>
                    <td>{$school['mianji']}</td>
                </tr>
                <tbody>
                    <tr>
                        <td width="100">课室数</td>
                        <td>{$school['classnum']}</td>
                    </tr>
                </tbody>
            </table>

            <table class="table table-hover table-bordered table-condensed"  style="width: 400px">
                <caption align="top">分校开课表</caption>
                <thead>
                    <tr>
                        <th width="100">开课时间段</th>
                        <th width="100">班级数</th>
                    </tr>
                </thead>
                <tbody>
                    <foreach name="data1" key="key" item="v">
                        <tr>
                            <td>{$v['kaikesjd']}</td>
                            <td>{$v['banjishu']}</td>
                        </tr>
                    </foreach>
                </tbody>
            </table>

            <table class="table table-hover table-bordered table-condensed"  style="width: 1200px">
                <caption align="top">数据比对</caption>
                <tbody>
                    <tr>
                        <td>异常名单</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td rowspan="2">总人数核对</td>
                        <td>C36</td>
                        <td>D46</td>
                        <td>差异</td>
                    </tr>
                    <tr>
                        <td>{$jysj.c36}</td>
                        <td>{$jysj.d46}</td>
                        <td>{$jysj.chayi3}</td>
                    </tr>
                    <tr>
                        <td rowspan="2">学员信息表与班级花名册及出勤核对在读人数</td>
                        <td>AS列在读</td>
                        <td>F列学号数</td>
                        <td>差异</td>
                    </tr>
                    <tr>
                        <td>{$jysj.as}</td>
                        <td>{$jysj.f}</td>
                        <td>{$jysj.chayi1}</td>
                    </tr>
                    <tr>
                        <td rowspan="2">在读人数核对</td>
                        <td>F36</td>
                        <td>D57</td>
                        <td>差异</td>
                    </tr>
                    <tr>
                        <td>{$jysj.f36}</td>
                        <td>{$jysj.d57}</td>
                        <td>{$jysj.chayi4}</td>
                    </tr>
                    <tr>
                        <td rowspan="2">班级数核对</td>
                        <td>C21</td>
                        <td>C57</td>
                        <td>差异</td>
                    </tr>
                    <tr>
                        <td>{$jysj.c21}</td>
                        <td>{$jysj.c57}</td>
                        <td>{$jysj.chayi2}</td>
                    </tr>
                </tbody>
            </table>

            <table class="table table-hover table-bordered table-condensed"  style="width: 400px">
                <caption align="top">学生人数变动</caption>
                <thead>
                <tr>
                    <th width="100">项目</th>
                    <th width="100">人数</th>
                </tr>
                </thead>
                <tbody>
                <foreach name="data5" item="vo">
                    <tr>
                        <td>{$vo['xiangmu']}</td>
                        <td>{$vo['renshu']}</td>
                    </tr>
                </foreach>
                </tbody>
            </table>

            <table class="table table-hover table-bordered table-condensed">
                <caption align="top">在册学生学期状态表(国际班课程)</caption>
                <thead>
                <tr>
                    <th>年级</th>
                    <th>总人数</th>
                    <th>未进班</th>
                    <th>停读(预计可复学)</th>
                    <th>实际在班人数</th>
                    <volist name="kecheng" id="kc">
                    <th>{$kc}</th>
                    </volist>
                </tr>
                </thead>
                <tbody>
                <foreach name="data2" item="v" key="k">
                    <tr>
                        <td>{$v['nianji']}</td>
                        <td>{$v["zongrenshu"]}</td>
                        <td>{$v["weijinban"]}</td>
                        <td>{$v["tingduyjkfx"]}</td>
                        <td>{$v["shijizbrs"]}</td>
                        <volist name="kecheng" id="kc">
                        <if condition="$kc eq '一对一'">
                            <td><?php echo $v['yiduiyi'];?></td>
                        <else />
                            <td><?php echo $v[strtolower($kc)];?></td>
                        </if>
                        </volist>
                    </tr>
                </foreach>
                </tbody>
            </table>
            <table class="table table-hover table-bordered table-condensed" style="width: 600px">
                <caption align="top">班级重要数据</caption>
                <thead>
                <tr>
                    <th rowspan="3">部门</th>
                    <th colspan="4">当月数据（包含市场部新开班级，不包含停读及进班人数）</th>
                </tr>
                <tr>
                    <th>当月班级数</th>
                    <th>人数总计</th>
                    <th>班级饱和率</th>
                </tr>
                </thead>
                <tbody>
                        <foreach name="data3" item="v">
                            <!-- <notempty name="v.bumen"> -->
                            <tr>
                                <td>{$v.bumen}</td>
                                <td>{$v.dangyuebjs}</td>
                                <td>{$v.renshuzj}</td>
                                <td>{$v.banjibhl}</td>
                            </tr>
                            <!-- </notempty> -->
                        </foreach>

                </tbody>
            </table>
        </div>
    </div>
</form>
<style>
    body {
        overflow-x: scroll;
        background-color: #fff;
        width: 3000px;
    }
</style>
<input type="hidden" name="qishu" value="{$qishu}">
<input type="hidden" name="sid" value="{$sid}">
<script>
    $(".update_even").blur(function () {
        var name = $(this).attr("name");
        var value = $(this).val();
        var qishu = $("input[name='qishu']").val();
        var sid = $("input[name='sid']").val();
        $.ajax({
            type: "POST", //用POST方式传输
            url: "/index.php/TableCount/savebeizhu", //目标地址
            data: {name:name,value:value,qishu:qishu,sid:sid},
            dataType:'json',
            success: function (data){

            }
        });
    })
</script>
