<style type="text/css">
.button{
    cursor:pointer;
    margin-top:4px;
}
</style>
<form method="post" id="form" action="">
    <div class="panel one-box">

        <div class="table-tools clearfix">
            <div class="form-inline">
                <div class="form-group">
                    <div class="field">
                        学校：<input type="text" class="input" size="30" name="keywords" value="{$post.keywords}">

                    </div>
                </div>
                <div class="form-group">
                    <div class="field">
                        时间从：<input type="text" class="input datetimepicker" size="30" name="start_time" value="{$post.start_time}">
                            到
                        <input type="text" class="input datetimepicker" size="30" name="end_time" value="{$post.end_time}">
                    </div>
                </div>
                <div class="form-button">
                    <input type="submit" name="search" class="button bg-blue button-small" value="查询">
                </div>
            </div>
        </div>

        <div class="table-responsive">
            <table id="table" class="table table-hover ">
                <tbody>
                    <tr>
                        <th width="60">期数</th>
                        <th width="80">校区</th>
                        <th width="80">学员信息</th>
                        <th width="80">班级信息</th>
                        <th width="80">班级学员信息</th>
                        <th width="80">收据记录</th>
                        <th width="80">课消明细</th>
                        <th width="80">开班明细</th>
                        <th width="80">学员费用预警</th>
                        <th width="80">学习卡额度</th>
                        <th width="80">收据明细</th>
                        <th width="80">出勤明细</th>
                        <th width="80">收支流水</th>
                        <th width="80">转出记录</th>
                        <th width="80">转入记录</th>
                        <th width="80">社保明细</th>
                        <th width="80">公积金明细</th>
                        <if condition="$rid eq 2 or $rid eq 3">
                        <th width="80">操作</th>
                        </if>
                        <!-- <th width="80">行政状态</th>
                        <th width="80">行政经理状态</th> -->
                        <th width="80">行操作</th>
                    </tr>
                    <foreach name='list' item='v' key='k'>
                        <tr>
                            <td>{$v.qishu}</td>
                            <td>{$v.name}</td>
                            <foreach name='arr' item='v1' key='k1'>
                                <if condition="$v[$v1] eq 2">
                                    <td>
                                        <div>
                                            <a class="button bg-green button-small icon-eye" title="查看表格" alt="查看表格" href="__CONTROLLER__/table_xq/tid/{$k1}/qishu/{$v.qishu}/sid/{$v.sid}" style="cursor:pointer;margin-top:4px;"></a>
                                            <a class="button bg-red button-small icon-trash-o js-sub" title="删除" alt="删除" target2="__CONTROLLER__/del/tid/{$k1}/sid/{$v.sid}/qishu/{$v.qishu}" style="cursor:pointer;margin-top:4px;"></a>
                                            <a href="__MODULE__/Common/download/tid/{$k1}/qishu/{$v.qishu}/sid/{$v.sid}" class="button bg-blue button-small icon-download" title="立即下载" alt="立即下载" style="cursor:pointer;margin-top:4px;"></a>
                                        </div>
                                    </td>

                                    <else />
                                    <td>
                                        <a class="button bg-dot button-small icon-upload" title="未导入" alt="未导入" href="__CONTROLLER__/import/tid/{$k1}/qishu/{$v.qishu}/sid/{$v.sid}"></a>
                                    </td>
                                </if>
                            </foreach>
                            <if condition="$v['sbmxb'] eq 2">
                                <td>
                                    <div>
                                        <a class="button bg-green button-small icon-eye" title="查看表格" alt="查看表格" href="__CONTROLLER__/table_xq/tid/15/qishu/{$v.qishu}/sid/{$v.sid}" style="cursor:pointer;margin-top:4px;"></a>
                                        <a class="button bg-red button-small icon-trash-o js-sub" title="删除" alt="删除" target2="__CONTROLLER__/del/tid/15/sid/{$v.sid}/qishu/{$v.qishu}" style="cursor:pointer;margin-top:4px;"></a>
                                        <a href="__MODULE__/Common/download/tid/15/qishu/{$v.qishu}/sid/{$v.sid}" class="button bg-blue button-small icon-download" title="立即下载" alt="立即下载" style="cursor:pointer;margin-top:4px;"></a>
                                    </div>
                                </td>
                                <else />
                                    <if condition="$v['isshebao'] eq 1">
                                        <td>
                                            <a class="button bg-dot button-small icon-upload" title="未导入" alt="未导入" href="__CONTROLLER__/import/tid/15/qishu/{$v.qishu}/sid/{$v.sid}"></a>
                                        </td>
                                    <else />
                                        <td>
                                            <a class="button bg-gray button-small js-notNeed" title="不需要" alt="不需要" style="cursor:pointer">不需要</a>
                                        </td>
                                    </if>

                            </if>
                            <if condition="$v['gjjmxb'] eq 2">
                                <td>
                                    <div>
                                        <a class="button bg-green button-small icon-eye" title="查看表格" alt="查看表格" href="__CONTROLLER__/table_xq/tid/16/qishu/{$v.qishu}/sid/{$v.sid}" style="cursor:pointer;margin-top:4px;"></a>
                                        <a class="button bg-red button-small icon-trash-o js-sub" title="删除" alt="删除" target2="__CONTROLLER__/del/tid/16/sid/{$v.sid}/qishu/{$v.qishu}" style="cursor:pointer;margin-top:4px;"></a>
                                        <a href="__MODULE__/Common/download/tid/16/qishu/{$v.qishu}/sid/{$v.sid}" class="button bg-blue button-small icon-download" title="立即下载" alt="立即下载" style="cursor:pointer;margin-top:4px;"></a>
                                    </div>
                                </td>
                                <else />
                                    <if condition="$v['isgongjijin'] eq 1">
                                        <td>
                                            <a class="button bg-dot button-small icon-upload" title="未导入" alt="未导入" href="__CONTROLLER__/import/tid/16/qishu/{$v.qishu}/sid/{$v.sid}"></a>
                                        </td>
                                    <else />
                                        <td>
                                            <a class="button bg-gray button-small js-notNeed" title="不需要" alt="不需要" style="cursor:pointer">不需要</a>
                                        </td>
                                    </if>

                            </if>
                            <if condition="$rid eq 2 or $rid eq 3">
                                <if condition="$v.status_xz neq 2">
                                    <td>
                                        <a class="button bg-green button-small js-sub" title="通知行政经理" alt="通知行政经理" target2="__MODULE__/Common/create/qishu/{$v.qishu}/sid/{$v.sid}" target3="__MODULE__/Common/waitNum/qishu/{$v.qishu}/sid/{$v.sid}" style="cursor:pointer">通知行政经理</a>
                                    </td>
                                <elseif condition="$v.status_xz eq 2" />
                                    <if condition="$v.status_xzjl eq 2 or $v.status_cw eq 2">
                                        <td>
                                            <a class="button bg-red button-small js-lock icon-lock" title="已锁定" alt="已锁定" style="cursor:pointer"></a>
                                        </td>
                                    <else />
                                        <td>
                                            <a class="button bg-red button-small js-sub" title="取消" alt="取消" target2="__MODULE__/Common/rollBack/qishu/{$v.qishu}/sid/{$v.sid}" style="cursor:pointer">取消</a>
                                        </td>
                                    </if>
                                </if>
                            </if>
                            <!-- <td>
                                <if condition="$v.status_xz eq 1">
                                无
                                <elseif condition="$v.status_xz eq 2" />
                                {$v.xingzheng}已提交
                                <elseif condition="$v.status_xz eq 3" />
                                被{$v.xingzhengjl}退回
                                <elseif condition="$v.status_xz eq 4" />
                                {$v.xingzheng}已取消
                                </if>
                            </td>
                            <td>
                                <if condition="$v.status_xzjl eq 1">
                                无
                                <elseif condition="$v.status_xzjl eq 2" />
                                {$v.xingzhengjl}已审核
                                <elseif condition="$v.status_xzjl eq 3" />
                                {$v.xingzhengjl}退回行政
                                <elseif condition="$v.status_xzjl eq 4" />
                                被{$v.caiwu}退回
                                <else />
                                无
                                </if>
                            </td> -->
                            <td>
                                <div>
                                    <a class="button bg-red button-small js-sub icon-trash-o" title="删除此行" alt="删除此行" target2="__CONTROLLER__/delRow/sid/{$v.sid}/qishu/{$v.qishu}" style="cursor:pointer"></a>
                                    <a class="button bg-green button-small icon-eye" title="查看" alt="查看" href="__CONTROLLER__/index_xq/sid/{$v.sid}/qishu/{$v.qishu}" style="cursor:pointer"></a>
                                </div>
                            </td>
                        </tr>
                    </foreach>
                </tbody>
            </table>
        </div>
        <div class="panel-foot table-foot clearfix">
            <!--<div class="float-left">-->
                <!--<div class="form-inline">-->
                    <!--<div class="form-button">-->
                        <!--<a class="button bg-blue button-small" type="submit" href="{:U('import')}?tid=1">导入数据</a>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<br>-->
            <!--</div>-->
            <div class="float-right pagination pagination-small">
                {$fpage}
            </div>
        </div>
    </div>
</form>
<script>
    $(function($) {
        // 全选
        $("#selectAll").click(function () {
            $("#table :checkbox").attr("checked", true);
        });
        // 反选
        $("#reverse").click(function () {
            $("#table :checkbox").each(function () {
                $(this).attr("checked", !$(this).attr("checked"));
            });
        });
        // 执行操作
        $("#selectSubmit").click(function () {
            var type = $('#selectAction').val();    // 获取执行操作
            if (type == 1) {
                var url = "updateArticl";    // 修改文章
            }
            // 序列化 表单数据 后提交
            $.post(url,$("form").serialize(),function(data){
                // data 是 ajaxreturn 返回的 数据
                if(data['status'] == 1){    // 处理成功后

                    layer.alert(data['info'], {icon : 1} , function(index){
                        window.location.reload();   // 刷新当前页面
                        layer.close(index); // 关闭遮罩层
                    });
                } else {
                    // 处理失败后 刷新页面

                }
            });
        });

    });
</script>
<script>
    $(function($) {
        // 绑定提交操作
        $(".js-sub").click(function () {
            var subUrl = $(this).attr('target2');
            var dd = $(this).attr('title');
            //询问框
            layer.confirm('您确定'+dd+'吗?', {
                icon: 4,
                btn: ['确定','取消'] //按钮
            }, function(){
                //loading层
                var index = layer.load(1, {
                    shade: [0.8,'#fff'] //0.1透明度的白色背景
                });
                $.post(subUrl,$("form").serialize(),function(data){
                    if(data.status){
                        layer.msg(data.info, {icon: 1});
                    }else{
                        layer.msg(data.info, {icon: 2});
                    }
                    setTimeout("window.location.reload()",1000); // 让提示框停留一会
                });
            });
        });

        // 绑定提交操作
        $(".js-sub2").click(function () {
            var subUrl = $(this).attr('target2');
            var dd = $(this).attr('title');
            //询问框
            layer.confirm('您确定'+dd+'吗?', {
                icon: 4,
                btn: ['确定','取消'] //按钮
            }, function(){
                $(this).attr("disabled",true);
                $.post(subUrl,$("form").serialize(),function(data){});
                layer.msg('操作成功', {icon: 1});

                setTimeout("window.location.reload()",1000); // 让提示框停留一会

            });
        });

        $('.js-lock').click(function(){
            layer.alert('操作已锁定');
        });
        $('.js-notNeed').click(function(){
            layer.alert('不需要导入该表');
        });
    });
</script>

<script type="text/javascript">
    $(function (){
        $(".datetimepicker").on("click",function(e){
            $('.check').removeClass('check');
            $(this).addClass('check');
            e.stopPropagation();
            $(this).lqdatetimepicker({
                css : 'datetime-day',
                dateType : 'D',
                selectback : function(){

                }
            });
        });
    });
</script>
