<form method="post" enctype="multipart/form-data" class="form-x one-form form-auto form-horizontal" id="form" action="{:U('/Position/runAdd',array('id'=>$info['id']))}">
	 <div class="panel one-box  active">
        <div class="panel-head">
			<if condition='ACTION_NAME eq "add"'>
            <strong>添加广告位</strong>
			<else/>
			<strong>修改广告位</strong>
			</if>
        </div>
        <div class="panel-body">	
			<div class="form-group">
                <div class="label">
                    <label>标题</label>
                </div>
                <div class="field">
                    <input type="text" class="input" name="title" size="60" value="{$info.title}">
                </div>
            </div>
			<div class="form-group">
                <div class="label">
                    <label>广告图片</label>
                </div>
                <div class="field">
                    <input type="text" class="input" id="image" name="image" readonly="readonly" size="38" value="{$info.image}">
                    <a class="button bg-blue button-small  js-img-upload" data="image" id="image_upload" preview="image_preview""><span class="icon-upload"> 上传</span></a>
                    <a class="button bg-blue button-small icon-picture-o" id="image_preview" href="javascript:;" > 预览</a>
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label>链接</label>
                </div>
                <div class="field">
                    <input type="text" class="input" name="url" size="60" value="{$info.url}">
                </div>
            </div>
			<div class="form-group">
                <div class="label">
                    <label>排序</label>
                </div>
                <div class="field">
                    <input type="text" class="input" name="sort" size="60" value="<?php echo $info['sort']?$info['sort']:1;?>">
                </div>
            </div>
        </div>
        <div class="panel-foot">
            <div class="form-button">
                <div id="tips"></div>
				<button class="button bg-main" id="ajaxForm" type='submit'>保存</button>
				<if condition='ACTION_NAME eq "add"'>
                <button class="button bg" type="reset">重置</button>
				</if>
            </div>
        </div>
    </div>
</form>

<script type="text/javascript" src="__PUBLIC__/webuploader/FileUpload.js"></script>

