<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <title>oneCMS 1.0 - 网站后台管理</title>
    <!-- import style css -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/pingtu.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/admin.css" />
    <!-- import style js -->
    <script type="text/javascript" src="__PUBLIC__/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/pingtu.js"></script>
    <!-- 因IE8不支持CSS的媒体查询，因此需引入respond.js才能使其实现媒体查询功能。  -->
    <script type="text/javascript" src="__PUBLIC__/js/respond.js"></script>
    <!-- Layer WEB弹窗插件 -->
    <script type="text/javascript" src="__PUBLIC__/js/layer/layer.min.js"></script>
    <!-- KindEditor 在线编辑器 -->
    <link rel="stylesheet" href="__PUBLIC__/keditor/themes/default/default.css" />
    <link rel="stylesheet" href="__PUBLIC__/keditor/plugins/code/prettify.css" />
    <script charset="utf-8" src="__PUBLIC__/keditor/kindeditor-all-min.js"></script>
    <script charset="utf-8" src="__PUBLIC__/keditor/lang/zh-CN.js"></script>
    <script charset="utf-8" src="__PUBLIC__/keditor/plugins/code/prettify.js"></script>
    <!-- webUploader 上传图片和文件插件 -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/webuploader/webuploader.css">
    <script type="text/javascript" src="__PUBLIC__/webuploader/webuploader.min.js"></script>


    <style>
        body {overflow-x:hidden; background-color: #eff3f6;}
    </style>
</head>
<body>
    <div class="one-tools">
        <div class="bread-head">{$infoModule.info.name}
            <span class="small">{$infoModule.info.description}</span>
        </div>

        <if condition="$infoModule.menu != null">
        <br>
        <div class="tools-function clearfix">
            <div class="float-left">
                <volist name="infoModule.menu" id="vo">
                    <if condition="$vo['url'] eq $self">
                        <a class="button button-small bg-main icon-{$vo.icon}" href="{$vo.url}">
                    <else />
                        <a class="button button-small bg-back icon-{$vo.icon}" href="{$vo.url}">
                    </if>
                    {$vo.name}</a>
                </volist>
            </div>
            <if condition="$infoModule.add != null">
                <div class="button-group float-right">
                    <a class="button button-small bg-dot icon-plus dropdown-toggle"> 添加 <span class="downward"></span></a>
                    <ul class="drop-menu pull-right">
                        <volist name="infoModule.add" id="vo">
                            <li><a href="{$vo.url}">{$vo.name}</a></li>
                        </volist>
                    </ul>
                </div>
            </if>
        </div>
        </if>

    </div>

    <div class="admin-main">
    <!--common-->
    </div>

</body>
</html>
