<form action="{:U('Admin/Rbac/addNodeHandle',array('id'=>$node['id']))}" class="form-x one-form form-auto" method="post" >
	<div class="panel one-box  active">
        <div class="panel-head">
			<if condition='ACTION_NAME eq "addNode"'>	
            <strong>添加节点</strong>
			<else/>
			<strong>修改节点信息</strong>
			</if>
        </div>
		
        <div class="panel-body">	
			<div class="form-group">
                <div class="label">
                    <label>{$type}名称</label>
                </div>
                <div class="field">
                    <input type="text" class="input" name="name" size="60" value="{$node.name}">
                </div>
            </div>
			<div class="form-group">
                <div class="label">
                    <label>{$type}描述</label>
                </div>
                <div class="field">
                    <input type="text" class="input" name="title" size="60" value="{$node.title}">
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label>是否开启</label>
                </div>
                <div class="field">
                    <div class="button-group radio">
                        <if condition="$node.status == 1">
                            <label class="button active"><input name="status" value="1" checked="checked" type="radio">
                                <span class="icon icon-check"></span> 开启</label>
                            <label class="button"><input name="status" value="0" type="radio">
                                <span class="icon icon-times"></span> 关闭</label>
                            <else/>
                            <label class="button"><input name="status" value="1" checked="checked" type="radio">
                                <span class="icon icon-check"></span> 开启</label>
                            <label class="button active"><input name="status" value="0" type="radio">
                                <span class="icon icon-times"></span> 关闭</label>
                        </if>
                    </div>
                    <div class="input-note">是否开启角色</div>
                </div>
            </div>
			<div class="form-group">
                <div class="label">
                    <label>排序</label>
                </div>
                <div class="field">
                    <input type="text" class="input" name="sort" size="60" value="<?php echo $node['sort']?$node['sort']:1;?>">
                </div>
            </div>
        </div>
        <div class="panel-foot">
            <div class="form-button">
                <div id="tips"></div>
				<if condition='ACTION_NAME eq "addNode"'>	
				<input type="hidden" name="pid" value="{$pid}" />
				<input type="hidden" name="level" value="{$level}" />
				<else/>
				<input type="hidden" name="pid" value="{$node['pid']}" />
				<input type="hidden" name="level" value="{$node['level']}" />
				</if>
				<button class="button bg-main" id="ajaxForm" type='submit'>保存</button>
            </div>
        </div>
    </div>
</form>